<strong>{{name}}</strong>

{{#if img}}
<div>
    <img src="{{img}}" data-edit="img" title="{{name}}" height="32" width="32" />
</div>
{{/if}}

{{#if description}}
<p>{{description}}</p>
{{/if}}

{{#if effectDescription}}
<p>{{effectDescription}}</p>
{{/if}}

{{#if specialEffectLabel}}
<p>{{specialEffectLabel}}</p>
{{/if}}

{{#if hideRollResults}}
{{else}}
<p>
    {{localize "RSK.TargetNumberChatLabel"}}: {{rollResult.targetNumber}} |
    {{#if rollResult.isCritical}}
    <em>
        {{localize "RSK.Critical"}}
    </em>
    {{/if}}
    {{#if rollResult.isSuccess}}
    {{localize "RSK.Success"}}
    {{else}}
    {{localize "RSK.Fail"}}
    {{/if}}

    ({{rollResult.rollMargin}})
</p>
{{/if}}


<div class="message-controls">

</div>