<div autocomplete="off" spellcheck="off">
    <div style="display: flex;">
        <label>{{localize "RSK.AttackType"}}</label>
        <input type="text" class="attackType" name="attackType" value="{{attackType}}">
    </div>
    {{!-- todo: button for this --}}
    <div style="display: flex;">
        <label>{{localize "RSK.DefenseRollMargin"}}</label>
        <input type="text" class="defenseRollMargin" name="defenseRollMargin" value="{{defenseRollMargin}}">
    </div>
    <div style="display: flex;">
        <label>{{localize "RSK.Puncture"}}</label>
        <input type="text" class="puncture" name="puncture" value="{{puncture}}">
    </div>
    <hr />
    <div class="form-group">
        <div>
            <label>{{localize "RSK.Stab"}}
                <input type="number" class="stab" name="damageEntries.stab" value="{{damageEntries.stab}}">
            </label>
        </div>
        <div>
            <label>{{localize "RSK.Slash"}}
                <input type="number" class="slash" name="damageEntries.slash" value="{{damageEntries.slash}}">
            </label>
        </div>
        <div>
            <label>{{localize "RSK.Crush"}}
                <input type="number" class="crush" name="damageEntries.crush" value="{{damageEntries.crush}}">
            </label>
        </div>
        <div>
            <label>{{localize "RSK.Air"}}
                <input type="number" class="air" name="damageEntries.air" value="{{damageEntries.air}}">
            </label>
        </div>
        <div>
            <label>{{localize "RSK.Water"}}
                <input type="number" class="water" name="damageEntries.water" value="{{damageEntries.water}}">
            </label>
        </div>
        <div>
            <label>{{localize "RSK.Earth"}}
                <input type="number" class="earth" name="damageEntries.earth" value="{{damageEntries.earth}}">
            </label>
        </div>
        <div>
            <label>{{localize "RSK.Fire"}}
                <input type="number" class="fire" name="damageEntries.fire" value="{{damageEntries.fire}}">
            </label>
        </div>
    </div>
</div>