<div autocomplete="off" spellcheck="off">
    <h3>{{localize "RSK.Damage"}}</h3>
    <ol class="items-list">
        {{#each damageEntries as |damageEntry|}}
        <li class="item flexrow" data-type="{{damageEntry.type}}">
            {{damageEntry.label}}:
            {{damageEntry.amount}}
            <div class="item-controls ml-1">
                <a class="item-control remove-damage" title="{{localize " RSK.RemoveDamage"}}"><i
                        class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
    <div>
        <label>{{localize "RSK.DamageType"}}</label>
        <select id="type">
            {{selectOptions config.damageTypes localize=true}}
        </select>
    </div>
    <div>
        <label>{{localize "RSK.Amount"}}</label>
        <input id="amount" type="number">
    </div>
    <a class="item-control add-damage" title="{{localize " RSK.AddDamage"}}">
        <i class="fas fa-plus"></i> {{localize "RSK.AddDamage"}}
    </a>
    <hr />
    <div style="display: flex;">
        <label>{{localize "RSK.AttackType"}}</label>
        <input type="text" id="attackType" name="attackType" value="{{attackType}}">
    </div>
    <div style="display: flex;">
        <label>{{localize "RSK.Puncture"}}</label>
        <input type="number" id="puncture" name="puncture" value="{{puncture}}">
    </div>
    {{!-- need to be able to roll this --}}
    <div style="display: flex;">
        <label>{{localize "RSK.DefenseRoll"}}</label>
        <input type="number" id="defenseRoll" name="defenseRoll" value="{{defenseRoll}}">
    </div>
    <button class="confirm" type="button">{{localize "RSK.Apply"}}</button>
</div>