<div class="dialog-content">
    <select class="skill-dropdown">
        {{#each skills as |skill|}}
        <option value="{{skill.index}}">{{skill.label}}: {{skill.value}}</option>
        {{/each}}
    </select>

    <select class="ability-dropdown">
        {{#each abilities as |ability|}}
        <option value="{{ability.index}}">{{ability.label}}: {{ability.value}}</option>
        {{/each}}
    </select>
</div>