{{#if label}}
<p>{{label}}</p>
{{else}}
<p>{{name}}</p>
{{/if}}

{{#if description}}
<p>{{description}}</p>
{{/if}}
{{#if effectDescription}}
<p>{{effectDescription}}</p>
{{/if}}
{{#if qualities}}
<p>{{qualities}}</p>
{{/if}}
{{!-- todo: localize --}}
{{#if showRollResult}}
<p>
    TN: {{targetNumber}} | {{#if isCritical}}<em>critical</em>{{/if}} {{#if isSuccess}} success {{else}} fail{{/if}}
    ({{margin}})
</p>
{{/if}}
{{#if showApplyDamage}}
<button class="apply-outcome">{{localize "RSK.ApplyDamage"}}</button>
{{/if}}