{{#if label}}
<p>{{label}}</p>
{{else}}
<p>{{name}}</p>
{{/if}}

{{#if description}}
<p>{{description}}</p>
{{/if}}
{{#if effectDescription}}
<p>{{effectDescription}}</p>
{{/if}}
{{#if specialEffects}}
<p>{{specialEffects}}</p>
{{/if}}