{{#if label}}
<p>{{label}}</p>
{{else}}
<p>{{name}}</p>
{{/if}}

{{#if description}}
<p>{{description}}</p>
{{/if}}
{{#if effectDescription}}
<p>{{effectDescription}}</p>
{{/if}}
{{#if qualities}}
<p>{{qualities}}</p>
{{/if}}
{{#if showRollResult}}
<p>
    {{localize "RSK.TargetNumberChatLabel"}}: {{targetNumber}} | {{#if isCritical}}
    <em>
        {{localize "RSK.Critical"}}
    </em>
    {{/if}}
    {{#if isSuccess}}
    {{localize "RSK.Success"}}
    {{else}}
    {{localize "RSK.Fail"}}
    {{/if}}
    ({{margin}})
</p>
{{/if}}

<div class="message-controls">

</div>