{{!-- todo: can this also be looped? --}}
<label>{{localize "RSK.Damage"}}</label>
<div class="form-group">
    <label>{{localize "RSK.Stab"}}</label>
    <input type="number" name="system.damageEntries.stab" value="{{system.damageEntries.stab}}">
</div>
<div class="form-group">
    <label>{{localize "RSK.Slash"}}</label>
    <input type="number" name="system.damageEntries.slash" value="{{system.damageEntries.slash}}">
</div>
<div class="form-group">
    <label>{{localize "RSK.Crush"}}</label>
    <input type="number" name="system.damageEntries.crush" value="{{system.damageEntries.crush}}">
</div>
<div class="form-group">
    <label>{{localize "RSK.Air"}}</label>
    <input type="number" name="system.damageEntries.air" value="{{system.damageEntries.air}}">
</div>
<div class="form-group">
    <label>{{localize "RSK.Water"}}</label>
    <input type="number" name="system.damageEntries.water" value="{{system.damageEntries.water}}">
</div>
<div class="form-group">
    <label>{{localize "RSK.Earth"}}</label>
    <input type="number" name="system.damageEntries.earth" value="{{system.damageEntries.earth}}">
</div>
<div class="form-group">
    <label>{{localize "RSK.Fire"}}</label>
    <input type="number" name="system.damageEntries.fire" value="{{system.damageEntries.fire}}">
</div>