<div group="{{group}}">
    <div class="form-group">
        <strong>{{localize "RSK.ConfiguredOutcomes"}}</strong>
        <ul class="target-state-changes-list">
            {{!-- todo: what was changes in our lab project? --}}
            {{#each changes as |change index|}}
            <li class="operation" data-index="{{index}}">
                <span>{{change.displayParams}}</span>
                {{!-- todo: use our remove trash can icon --}}
                <button type="button" class="delete-operation" data-index="{{index}}">Delete</button>
            </li>
            {{/each}}
        </ul>
    </div>

    <div>
        <strong>{{localize "RSK.AddOutcome"}}</strong>
        <div class="form-group">
            <label for="new-outcome">{{localize "RSK.Outcome"}}</label>
            <select id="new-outcome-{{group}}" name="newOutcome">
                <option value="">{{localize "RSK.SelectOutcome"}}</option>
                <option value="restoreLifePoints">{{localize "RSK.RestoreLifePoints"}}</option>
                <option value="receiveDamage">{{localize "RSK.ReceiveDamage"}}</option>
                <option value="addStatuses">{{localize "RSK.AddStatuses"}}</option>
                <option value="removeStatuses">{{localize "RSK.RemoveStatuses"}}</option>
            </select>
        </div>

        <div class="form-group amount-input outcome-input" style="display:none;">
            <label for="outcome-amount">{{localize "RSK.Amount"}}</label>
            <input type="number" id="outcome-amount-{{group}}" name="outcomeAmount" value="1" min="1">
        </div>
        {{!-- todo: we have a statuses input somewhere already we should use --}}
        <div class="form-group status-input outcome-input" style="display:none;">
            <label for="outcome-status">{{localize "RSK.Status"}}:</label>
            <input type="text" id="outcome-status-{{group}}" name="outcomeStatus">
        </div>

        {{!-- todo: wonder if this can replace the 'damage entries' in the model, and those could exist on a sheet for
        display, but
        configured through outcomes. the benefit would be one way to input damage regardless of the scenario, but for
        viewing in the context
        of a weapon it could still be shown in a way that makes sense. ie the way damage entires is shown now. --}}
        <div class="form-group damage-input outcome-input" style="display:none;">
            <label>{{localize "RSK.DamageTypes"}}:</label>
            <div class="form-group">
                <label for="damage-typeless">{{localize "RSK.Typeless"}}:</label>
                <input type="number" id="damage-typeless-{{group}}" name="damageTypeless" value="0" min="0">
            </div>
            <div class="form-group">
                <label for="damage-stab">{{localize "RSK.Stab"}}:</label>
                <input type="number" id="damage-stab-{{group}}" name="damageStab" value="0" min="0">
            </div>
            <div class="form-group">
                <label for="damage-slash">{{localize "RSK.Slash"}}:</label>
                <input type="number" id="damage-slash-{{group}}" name="damageSlash" value="0" min="0">
            </div>
            <div class="form-group">
                <label for="damage-crush">{{localize "RSK.Crush"}}:</label>
                <input type="number" id="damage-crush-{{group}}" name="damageCrush" value="0" min="0">
            </div>
            <div class="form-group">
                <label for="damage-air">{{localize "RSK.Air"}}:</label>
                <input type="number" id="damage-air-{{group}}" name="damageAir" value="0" min="0">
            </div>
            <div class="form-group">
                <label for="damage-fire">{{localize "RSK.Fire"}}:</label>
                <input type="number" id="damage-fire-{{group}}" name="damageFire" value="0" min="0">
            </div>
            <div class="form-group">
                <label for="damage-water">{{localize "RSK.Water"}}:</label>
                <input type="number" id="damage-water-{{group}}" name="damageWater" value="0" min="0">
            </div>
            <div class="form-group">
                <label for="damage-earth">{{localize "RSK.Earth"}}:</label>
                <input type="number" id="damage-earth-{{group}}" name="damageEarth" value="0" min="0">
            </div>
        </div>
        <button type="button" class="add-outcome">{{localize "RSK.AddOutcome"}}</button>
    </div>
</div>