<div data-group="{{group}}">
    <div>
        <div class="form-group restore-life-input outcome-input">
            <label>{{localize "RSK.RestoresLifePoints"}}:
                <input type="number" class="restore-life-amount" min="1">
            </label>
        </div>
        {{!-- todo: we have a statuses input somewhere already we should use --}}
        <div class="form-group status-input outcome-input">
            <label>{{localize "RSK.AddsStatuses"}}:
                <input type="text" class="outcome-add-status">
            </label>
        </div>
        {{!-- todo: we have a statuses input somewhere already we should use --}}
        <div class="form-group status-input outcome-input">
            <label>{{localize "RSK.RemovesStatuses"}}:
                <input type="text" class="outcome-remove-status">
            </label>
        </div>
        <div class="form-group damage-input outcome-input">
            <div class="form-group">
                <label>{{localize "RSK.Typeless"}}:
                    <input type="number" class="damage-input-typeless" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Stab"}}:
                    <input type="number" class="damage-input-stab" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Slash"}}:
                    <input type="number" class="damage-input-slash" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Crush"}}:
                    <input type="number" class="damage-input-crush" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Air"}}:
                    <input type="number" class="damage-input-air" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Fire"}}:
                    <input type="number" class="damage-input-fire" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Water"}}:
                    <input type="number" class="damage-input-water" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Earth"}}:
                    <input type="number" class="damage-input-earth" value="0" min="0">
                </label>
            </div>
        </div>
    </div>
</div>