<div>
    <div class="form-group">
        <label>{{localize "RSK.RestoresLifePoints"}}:
            <input type="number" min="1" name="system.{{outcomeName}}.restoresLifePoints"
                value="{{outcome.restoresLifePoints}}">
        </label>
    </div>
    {{!-- todo: we have a statuses input somewhere already we should use --}}
    <div class="form-group">
        <label>{{localize "RSK.AddsStatuses"}}:
            <input type="text" name="system.{{outcomeName}}.addsStatuses" value="{{outcome.addsStatuses}}">
        </label>
    </div>
    {{!-- todo: we have a statuses input somewhere already we should use --}}
    <div class="form-group">
        <label>{{localize "RSK.RemovesStatuses"}}:
            <input type="text" name="system.{{outcomeName}}.removesStatuses" value="{{outcome.removesStatuses}}">
        </label>
    </div>

    {{localize "RSK.Damage"}}
    <div class="form-group">
        <div>
            <label>{{localize "RSK.Stab"}}
                <input type="number" name="system.{{outcomeName}}.damageEntries.stab"
                    value="{{outcome.damageEntries.stab}}">
            </label>
        </div>
        <div>
            <label>{{localize "RSK.Slash"}}
                <input type="number" name="system.{{outcomeName}}.damageEntries.slash"
                    value="{{outcome.damageEntries.slash}}">
            </label>
        </div>
        <div>
            <label>{{localize "RSK.Crush"}}
                <input type="number" name="system.{{outcomeName}}.damageEntries.crush"
                    value="{{outcome.damageEntries.crush}}">
            </label>
        </div>
        <div>
            <label>{{localize "RSK.Air"}}
                <input type="number" name="system.{{outcomeName}}.damageEntries.air"
                    value="{{outcome.damageEntries.air}}">
            </label>
        </div>
        <div>
            <label>{{localize "RSK.Water"}}
                <input type="number" name="system.{{outcomeName}}.damageEntries.water"
                    value="{{outcome.damageEntries.water}}">
            </label>
        </div>
        <div>
            <label>{{localize "RSK.Earth"}}
                <input type="number" name="system.{{outcomeName}}.damageEntries.earth"
                    value="{{outcome.damageEntries.earth}}">
            </label>
        </div>
        <div>
            <label>{{localize "RSK.Fire"}}
                <input type="number" name="system.{{outcomeName}}.damageEntries.fire"
                    value="{{outcome.damageEntries.fire}}">
            </label>
        </div>
    </div>
</div>