<div data-group="{{group}}">
    <div class="form-group">
        <ul class="target-state-changes-list">
            {{#each changes as |change index|}}
            <li class="outcome" data-index="{{index}}">
                <span>{{change.context.description}}</span>
                <a class="item-control delete-outcome" title="{{localize " RSK.DeleteItem"}}" data-index="{{index}}"><i
                        class="fas fa-trash"></i></a>
            </li>
            {{/each}}
        </ul>
    </div>
    <div>
        <div class="form-group receive-life-input outcome-input" style="display:none;">
            <label>{{localize "RSK.Amount"}}:
                <input type="number" class="receive-life-amount" min="1">
            </label>
        </div>
        {{!-- todo: we have a statuses input somewhere already we should use --}}
        <div class="form-group status-input outcome-input" style="display:none;">
            <label>{{localize "RSK.Status"}}:
                <input type="text" class="outcome-status">
            </label>
        </div>

        {{!-- todo: wonder if this can replace the 'damage entries' in the model, and those could exist on a sheet for
        display, but
        configured through outcomes. the benefit would be one way to input damage regardless of the scenario, but for
        viewing in the context
        of a weapon it could still be shown in a way that makes sense. ie the way damage entires is shown now. --}}
        <div class="form-group damage-input outcome-input" style="display:none;">
            <div class="form-group">
                <label>{{localize "RSK.Typeless"}}:
                    <input type="number" class="damage-input-typeless" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Stab"}}:
                    <input type="number" class="damage-input-stab" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Slash"}}:
                    <input type="number" class="damage-input-slash" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Crush"}}:
                    <input type="number" class="damage-input-crush" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Air"}}:
                    <input type="number" class="damage-input-air" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Fire"}}:
                    <input type="number" class="damage-input-fire" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Water"}}:
                    <input type="number" class="damage-input-water" value="0" min="0">
                </label>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Earth"}}:
                    <input type="number" class="damage-input-earth" value="0" min="0">
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "RSK.Outcome"}}
                <select class="new-outcome">
                    <option value="">{{localize "RSK.SelectOutcome"}}</option>
                    <option value="restoreLifePoints">{{localize "RSK.RestoreLifePoints"}}</option>
                    <option value="receiveDamage">{{localize "RSK.ReceiveDamage"}}</option>
                    <option value="addStatuses">{{localize "RSK.AddStatuses"}}</option>
                    <option value="removeStatuses">{{localize "RSK.RemoveStatuses"}}</option>
                </select>
            </label>
            <button type="button" class="add-outcome">{{localize "RSK.AddOutcome"}}</button>
        </div>
    </div>
</div>