<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <div class="sheet-container">
    <div class="sidebar">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      <div class="rsk stats-abilities">
        <div class="actor-toolbar">
          {{!-- todo: localize --}}
          <div class="actor-application" application-method="characterRest" effect-label="Rest" glow-color="green"><i
              class="fas fa-bed"></i></div>
          <div class="actor-application" application-method="characterDamage" effect-label="Take Damage"
            glow-color="red"><i class="fas fa-heart"></i></div>
          <div class="actor-application" application-method="characterAttackAction" effect-label="Attack"
            glow-color="orange">
            {{#if equippedIsRanged}}
            <i class="fas fa-bow-arrow"></i>
            {{else}}
            <i class="fas fa-sword"></i>
            {{/if}}
          </div>
          <div class="actor-application" application-method="characterCastSpell" effect-label="Cast Spell"
            glow-color="blue"><i class="fas fa-wand-sparkles"></i></div>
          <div class="actor-application" application-method="characterCastPrayer" effect-label="Pray"
            glow-color="white">
            <i class="fas fa-hands-praying"></i>
          </div>
          <div class="actor-application" application-method="characterCastSummons" effect-label="Summon Familiar"
            glow-color="yellow">
            <i class="fas fa-paw-claws"></i>
          </div>
        </div>
        <div class="rsk stats-abilities-container">
          <div class="rsk stats">
            <div class="stats-group">
              <div class="stats-box">
                <div class="stats-label">{{localize "RSK.Lifepoints"}}</div>
                <div class="stats-values">
                  <input class="stats-value-left" data-stat="Life" type="number" name="system.lifePoints.value"
                    value="{{system.lifePoints.value}}">
                  <div class="stats-value-right">{{system.lifePoints.max}}</div>
                </div>
              </div>
              <div class="stats-box">
                <div class="stats-label">{{localize "RSK.Prayerpoints"}}</div>
                <div class="stats-values">
                  <input class="stats-value-left" data-stat="Prayer" type="number" name="system.prayerPoints.value"
                    value="{{system.prayerPoints.value}}">
                  <div class="stats-value-right">{{system.prayerPoints.max}}</div>
                </div>
              </div>
              <div class="stats-box">
                <div class="stats-label">{{localize "RSK.Summoningpoints"}}</div>
                <div class="stats-values">
                  <input class="stats-value-left" data-stat="Summoning" type="number"
                    name="system.summoningPoints.value" value="{{system.summoningPoints.value}}">
                  <div class="stats-value-right">{{system.summoningPoints.max}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="rsk abilities">
            <div class="stats-group">
              {{#each abilities as |ability|}}
              <div class="stats-box">
                <span class="roll-check" data-type="ability" data-value="{{ability.index}}">
                  <div class="stats-label"><i class="fas fa-dice"></i> {{ability.label}}</div>
                  <div class="stats-values">
                    <div class="stats-value-center">
                      {{ability.value.level}} {{#if ability.value.modifier}} (+{{ability.value.modifier}}){{/if}}
                    </div>
                  </div>
                </span>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <header class="sheet-header">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      </header>
      <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills" data-tooltip='{{localize "RSK.Skills" }}'>
          <i class="fas fa-location-crosshairs"></i>
        </a>
        <a class="item" data-tab="inventory" data-tooltip='{{localize "RSK.Inventory" }}'>
          <i class="fas fa-sack"></i>
        </a>
        <a class="item" data-tab="magic" data-tooltip='{{localize "RSK.SpellBook" }}'>
          <i class="fas fa-hat-wizard"></i>
        </a>
        <a class="item" data-tab="prayer" data-tooltip='{{localize "RSK.Prayers" }}'>
          <i class="fas fa-sparkles"></i>
        </a>
        <a class="item" data-tab="summoning" data-tooltip='{{localize "RSK.Familiars" }}'>
          <i class="fas fa-cloud-bolt-moon"></i>
        </a>
        <a class="item" data-tab="description" data-tooltip='{{localize "RSK.Details" }}'>
          <i class="fas fa-id-card"></i>
        </a>
        <a class="item" data-tab="edit" data-tooltip='{{localize "RSK.Edit" }}'>
          <i class="fas fa-pen-to-square"></i>
        </a>
      </nav>
      <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="skills">
          <div class="skill-header">
            <button type="button" class="improve-your-character">{{localize "Improve Your Character"}}</button>
          </div>
          <div class="rsk skill-container">
            {{#each skills as |skill|}}
            <div class="form-group">
              <span class="roll-check" data-type="skill" data-value="{{skill.index}}">
                <i class="fas fa-dice"></i>
                <span class="skill-title">{{skill.label}}</span>
              </span>
              <div class="roll-skill">
                <span class="skill-value">
                  {{skill.value.level}} {{#if skill.value.modifier}} (+{{skill.value.modifier}}){{/if}}
                </span>
                <input type="checkbox" data-dtype="Boolean" name="system.skills.{{skill.index}}.used"
                  value="{{skill.value.used}}" {{checked skill.value.used}}>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="tab features" data-group="primary" data-tab="prayer">
          <div class="actor-toolbar">
            <div class="actor-application" application-method="characterCastPrayer" effect-label="Pray"
              glow-color="white">
              <i class="fas fa-hands-praying"></i>
            </div>
          </div>
          <ol class="items-list">
            {{#each prayers as |prayer|}}
            <li class="item flexrow">
              <div class="item-name">
                <strong>{{prayer.name}}</strong>
              </div>
              <div class="item-content">{{prayer.system.usageCostLabel}}</div>
              <div class="item-content">{{prayer.system.effectDescription}}</div>
              <a class="item-control chat-item" data-item-type="prayer" data-item-id="{{prayer._id}}"
                title="Chat Item">{{localize "RSK.ChatItem"}}</a>
            </li>
            {{/each}}
          </ol>
        </div>
        <div class="tab features" data-group="primary" data-tab="magic">
          <div class="actor-toolbar">
            <div class="actor-application" application-method="characterCastSpell" effect-label="Cast Spell"
              glow-color="blue"><i class="fas fa-wand-sparkles"></i>
            </div>
          </div>
          <ol class="items-list">
            {{#each spells as |spell|}}
            <li class="item flexrow">
              <div class="item-name">
                <strong>{{spell.name}}</strong>
              </div>
              <div class="item-content">
                {{spell.system.usageCostLabel}}
              </div>
              <div class="item-content">
                {{spell.system.description}}
              </div>
              <a class="item-control chat-item" data-item-type="spell" data-item-id="{{spell._id}}"
                title="Chat Item">{{localize "RSK.ChatItem"}}</a>
            </li>
            {{/each}}
          </ol>
        </div>
        {{!-- todo: probably time for a template to use for actions --}}
        <div class="tab features" data-group="primary" data-tab="summoning">
          <div class="actor-toolbar">
            <div class="actor-application" application-method="characterCastSummons" effect-label="Summon Familiar"
              glow-color="yellow">
              <i class="fas fa-paw-claws"></i>
            </div>
          </div>
          <ol class="items-list">
            {{#each familiars as |familiar|}}
            <li class="item flexrow">
              <div class="item-name">
                <strong>{{familiar.name}}</strong>
              </div>
              <div class="item-content">
                {{familiar.system.usageCostLabel}}
              </div>
              <div class="item-content">
                {{familiar.system.description}}
              </div>
              <a class="item-control chat-item" data-item-type="summoning" data-item-id="{{familiar._id}}"
                title="Chat Item">{{localize "RSK.ChatItem"}}</a>
            </li>
            {{/each}}
          </ol>
        </div>
        <div class="tab features" data-group="primary" data-tab="inventory">
          <div>
            <label>{{localize "RSK.Gold"}}</label>
            <input name="system.gold" type="number" data-dtype="Number" value="{{system.gold}}">
          </div>
          <div class="actor-toolbar">
            <div class="actor-application" application-method="characterAttackAction" effect-label="Attack"
              glow-color="orange">
              {{#if equippedIsRanged}}
              <i class="fas fa-bow-arrow"></i>
              {{else}}
              <i class="fas fa-sword"></i>
              {{/if}}
            </div>
          </div>
          <section class="inventory-active">
            <h3>{{localize "RSK.ActiveSlots"}}</h3>
            <div class="item-active-md">
              <label>{{localize "RSK.Head"}}</label>
              <img src="{{worn.head.img}}" data-tooltip="{{worn.head.name}}">
            </div>
            <div class="item-active-md">
              <label>{{localize "RSK.Body"}}</label>
              <img src="{{worn.body.img}}" data-tooltip="{{worn.body.name}}">
            </div>
            <div class="item-active-md">
              <label>{{localize "RSK.Leg"}}</label>
              <img src="{{worn.leg.img}}" data-tooltip="{{worn.leg.name}}">
            </div>
            <div class="item-active-md">
              <label>{{localize "RSK.Arm"}}</label>
              <img src="{{worn.arm.img}}" data-tooltip="{{worn.arm.name}}">
            </div>
            <div class="item-active-md">
              <label>{{localize "RSK.Weapon"}}</label>
              <img src="{{worn.weapon.img}}" data-tooltip="{{worn.weapon.name}}">
            </div>
            <div class="item-active-md">
              <label>{{localize "RSK.Cape"}}</label>
              <img src="{{worn.cape.img}}" data-tooltip="{{worn.cape.name}}">
            </div>
            <div class="item-active-sm">
              <label>{{localize "RSK.Ammo"}}</label>
              <img src="{{worn.ammo.img}}" data-tooltip="{{worn.ammo.name}}">
            </div>
          </section>
          <section class="inventory-list">
            {{> "/systems/rsk/templates/actors/parts/view-inventory.hbs" items=inventoryItems }}
          </section>

        </div>
        <div class="tab features" data-group="primary" data-tab="description">
          <div class="form-group">
            <label>{{localize "RSK.Catalyst"}}</label>
            <div>{{system.catalyst}}</div>
            <label>{{localize "RSK.Motivation"}}</label>
            <div>{{system.motivation}}</div>
          </div>
          <div>
            {{editor system.description target="system.description" editable=false engine="prosemirror"}}
          </div>
          <label>{{localize "RSK.Backgrounds"}}</label>
          {{> "/systems/rsk/templates/actors/parts/view-items.hbs" items=backgrounds }}
        </div>

        <div class="tab features" data-group="primary" data-tab="edit">
          <div>
            <label>{{localize "RSK.Description"}}</label>
            {{editor system.description target="system.description" button=true engine="prosemirror"}}
          </div>
          <div>
            <label>{{localize "RSK.Catalyst"}}</label>
            <input type="text" name="system.catalyst" value="{{system.catalyst}}">
          </div>
          <div>
            <label>{{localize "RSK.Motivation"}}</label>
            <input type="text" name="system.motivation" value="{{system.motivation}}">
          </div>
          <label>{{localize "RSK.Backgrounds"}}</label>
          {{> "/systems/rsk/templates/actors/parts/edit-items.hbs"
          items=backgrounds
          addType="background"
          addLabel="Add Background"}}
          <button class="apply-backgrounds">{{localize "RSK.ApplyBackgrounds"}}</button>

          <div class="form-group">
            {{#each abilities as |ability|}}
            <span data-type="ability" data-value="{{ability.index}}">
              <strong>{{ability.label}}</strong>
              <input name="system.abilities.{{ability.index}}.level" type="number" data-dtype="Number"
                value="{{ability.value.level}}">
            </span>
            {{/each}}
          </div>
          <div class="rsk skill-container">
            {{#each skills as |skill|}}
            <div class="form-group">
              <span data-type="skill" data-value="{{skill.index}}">
                <strong>{{skill.label}}</strong>
                <input name="system.skills.{{skill.index}}.level" type="number" data-dtype="Number"
                  value="{{skill.value.level}}">
              </span>
            </div>
            {{/each}}
          </div>
          <hr />

          <strong>{{localize "RSK.Effects"}}</strong>
          {{> "/systems/rsk/templates/parts/edit-effects.hbs"}}

          {{!-- todo: probably should be a 'part' --}}
          <strong>Action Collections</strong>
          {{#each codexs as |codex|}}
          <div class="form-group">
            {{codex.name}}
            <a data-item-id="{{codex._id}}" class="item-control remove-codex" title="Remove Codex">{{localize
              "RSK.RemoveItem"}}</a>
          </div>
          {{/each}}

          {{!-- todo: potentially can use the edit items part? --}}
          {{!-- or maybe we need a new part specifically for managing actions? --}}
          {{!-- though we probably do need a way to manage actions individually and in a collection --}}
          {{!-- need to solve the inconsistency with _id and id --}}
          <div>
            <label>{{localize "RSK.Spells"}}</label>
            {{#each spells as |spell|}}
            <li class="item flexrow" data-item-id="{{spell._id}}">
              <div class="item-name">
                <strong>{{spell.name}}</strong>
              </div>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </li>
            {{/each}}
          </div>

          <div>
            <label>{{localize "RSK.Prayers"}}</label>
            {{#each prayers as |prayer|}}
            <li class="item flexrow" data-item-id="{{prayer._id}}">
              <div class="item-name">
                <strong>{{prayer.name}}</strong>
              </div>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </li>
            {{/each}}
          </div>

          <div>
            <label>{{localize "RSK.Familiars"}}</label>
            {{#each familiars as |familiar|}}
            <li class="item flexrow" data-item-id="{{familiar._id}}">
              <div class="item-name">
                <strong>{{familiar.name}}</strong>
              </div>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </li>
            {{/each}}
          </div>
        </div>
      </section>
    </div>
  </div>
</form>