<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
  </header>

  <div class="rsk stats-abilities">
    <div class="rsk stats">
      <div class="form-group">
        <div class="apply-damage">
          <strong>{{localize "RSK.Lifepoints"}}: </strong>
          {{system.lifePoints.value}} / {{system.lifePoints.max}}
        </div>
        <div>
          {{!-- idea: click on prayer points to go to prayer tab? --}}
          <strong>{{localize "RSK.Prayerpoints"}}: </strong>
          {{system.prayerPoints.value}} / {{system.prayerPoints.max}}
        </div>
        <div>
          <strong>{{localize "RSK.Summoningpoints"}}</strong>
          {{system.summoningPoints.value}} / {{system.summoningPoints.max}}
        </div>
      </div>
    </div>
    <div class="rsk abilities">
      <div class="form-group">
        {{#each abilities as |ability|}}
        <span class="roll-check" data-type="ability" data-value="{{ability.index}}">
          <i class="fas fa-dice"></i>
          <strong>{{ability.label}}</strong>
          {{ability.level}}
        </span>
        {{/each}}
      </div>
    </div>
  </div>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="skills">{{localize "RSK.Skills"}}</a>
    <a class="item" data-tab="inventory">{{localize "RSK.Inventory"}}</a>
    <a class="item" data-tab="magic">{{localize "RSK.SpellBook"}}</a>
    <a class="item" data-tab="prayer">{{localize "RSK.Prayers"}}</a>
    <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
    <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab features" data-group="primary" data-tab="skills">
      <div class="rsk skill-container">
        {{#each skills as |skill|}}
        <div class="form-group">
          <span class="roll-check" data-type="skill" data-value="{{skill.index}}">
            <i class="fas fa-dice"></i>
            <strong>{{skill.label}}</strong>
            {{skill.level}} {{#if skill.modifier}} (+{{skill.modifier}}){{/if}}
          </span>
          <input type="checkbox" data-dtype="Boolean" name="system.skills.{{skill.index}}.used" value="{{skill.used}}"
            {{checked skill.used}}>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="tab features" data-group="primary" data-tab="prayer">
      <ol class="items-list">
        {{#each prayers as |prayer|}}
        <li class="item flexrow activate-prayer" data-prayer-id="{{prayer._id}}">
          <div class="item-name flexrow">
            <strong>{{prayer.name}}</strong>
          </div>
          {{#if prayer.system.description}}
          <div class="item-content">
            {{prayer.system.description}}
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </div>

    <div class="tab features" data-group="primary" data-tab="magic">
      <ol class="items-list">
        {{#each spells as |spell|}}
        <li class="item flexrow cast-spell" data-spell-id="{{spell._id}}">
          <div class="item-name flexrow">
            <strong>{{spell.name}}</strong>
          </div>
          {{#if spell.system.description}}
          <div class="item-content">
            {{spell.system.description}}
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </div>

    <div class="tab features" data-group="primary" data-tab="inventory">
      <strong>temp (item list)</strong>
      {{> "/systems/rsk/templates/actors/parts/edit-items.hbs" items=actor.items }}

      <div>
        <label>{{localize "RSK.Head"}}</label>
        <div>{{worn.head}}</div>
        <label>{{localize "RSK.Body"}}</label>
        <div>{{worn.body}}</div>
        <label>{{localize "RSK.Leg"}}</label>
        <div>{{worn.leg}}</div>
        <label>{{localize "RSK.Arm"}}</label>
        <div>{{worn.arm}}</div>
        <label>{{localize "RSK.Weapon"}}</label>
        <div>{{worn.weapon}}</div>
        <label>{{localize "RSK.Cape"}}</label>
        <div>{{worn.cape}}</div>
      </div>
      {{#each system.backpack.inventoryslots as |slot key|}}
      <span>.</span>
      {{/each}}
    </div>

    <div class="tab features" data-group="primary" data-tab="description">
      <div class="form-group">
        <label>{{localize "RSK.Catalyst"}}</label>
        <div>{{system.catalyst}}</div>
        <label>{{localize "RSK.Motivation"}}</label>
        <div>{{system.motivation}}</div>
      </div>
      <label>{{localize "RSK.Backgrounds"}}</label>
      {{> "/systems/rsk/templates/actors/parts/view-items.hbs" items=backgrounds }}
    </div>

    <div class="tab features" data-group="primary" data-tab="edit">
      <div class="rsk-editor">
        <label>{{localize "RSK.Description"}}</label>
        {{editor system.description target="system.description" button=false engine="prosemirror"}}
      </div>
      <label>{{localize "RSK.Backgrounds"}}</label>
      {{> "/systems/rsk/templates/actors/parts/edit-items.hbs"
      items=backgrounds
      addType="background"
      addLabel="Add Background"}}
      <button class="apply-backgrounds">{{localize "RSK.ApplyBackgrounds"}}</button>

      <div class="form-group">
        <label>{{localize "RSK.LifePoints"}}</label>
        <input name="system.lifePoints.value" type="number" value="{{system.lifePoints.value}}">
      </div>
      <div class="form-group">
        <label>{{localize "RSK.SummoningPoints"}}</label>
        <input name="system.summoningPoints.value" type="number" value="{{system.summoningPoints.value}}">
      </div>
      <div class="form-group">
        <label>{{localize "RSK.PrayerPoints"}}</label>
        <input name="system.prayerPoints.value" type="number" value="{{system.prayerPoints.value}}">
      </div>

      <div class="form-group">
        {{#each abilities as |ability|}}
        <span data-type="ability" data-value="{{ability.index}}">
          <strong>{{ability.label}}</strong>
          <input name="system.abilities.{{ability.index}}" type="number" data-dtype="Number" value="{{ability.level}}">
        </span>
        {{/each}}
      </div>
      <div class="rsk skill-container">
        {{#each skills as |skill|}}
        <div class="form-group">
          <span data-type="skill" data-value="{{skill.index}}">
            <strong>{{skill.label}}</strong>
            <input name="system.skills.{{skill.index}}.level" type="number" data-dtype="Number" value="{{skill.level}}">
          </span>
        </div>
        {{/each}}
      </div>
      <hr />

      <strong>Effects</strong>
      {{> "/systems/rsk/templates/parts/edit-effects.hbs"}}

    </div>
  </section>
</form>