<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <div class="sheet-container">
    <div class="sidebar">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200" />
      <div class="rsk stats-abilities">
        <div class="actor-toolbar">
          <div class="actor-application" application-method="characterRest" effect-label="Rest" glow-color="green"><i
              class="fas fa-bed"></i></div>
          <div class="actor-application" application-method="characterDamage" effect-label="Take Damage"
            glow-color="red"><i class="fas fa-sword"></i></div>
        </div>
        <div class "rsk stats-abilities-container">
          <div class="rsk stats">
            <div class="stats-group">
              <div class="stats-box">
                <div class="stats-label">{{localize "RSK.Lifepoints"}}</div>
                <div class="stats-values">
                  <input class="stats-value-left" data-stat="Life" type="number" name="system.lifePoints.value"
                    value="{{system.lifePoints.value}}">
                  <div class="stats-value-right">{{system.lifePoints.max}}</div>
                </div>
              </div>
              <div class="stats-box">
                <div class="stats-label">{{localize "RSK.Prayerpoints"}}</div>
                <div class="stats-values">
                  <input class="stats-value-left" data-stat="Prayer" type="number" name="system.prayerPoints.value"
                    value="{{system.prayerPoints.value}}">
                  <div class="stats-value-right">{{system.prayerPoints.max}}</div>
                </div>
              </div>
              <div class="stats-box">
                <div class="stats-label">{{localize "RSK.Summoningpoints"}}</div>
                <div class="stats-values">
                  <input class="stats-value-left" data-stat="Summoning" type="number" name="system.summoningPoints.value"
                    value="{{system.summoningPoints.value}}">
                  <div class="stats-value-right">{{system.summoningPoints.max}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="rsk abilities">
            <div class="stats-group">
              {{#each abilities as |ability|}}
              <div class="stats-box">
                <span class="roll-check" data-type="ability" data-value="{{ability.index}}">
                  <div class="stats-label"><i class="fas fa-dice"></i> {{ability.label}}</div>
                  <div class="stats-values">
                    <div class="stats-value-center">{{ability.value}}</div>
                  </div>
                </span>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <header class="sheet-header">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      </header>
      <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">{{localize "RSK.Skills"}}</a>
        <a class="item" data-tab="inventory">{{localize "RSK.Inventory"}}</a>
        <a class="item" data-tab="magic">{{localize "RSK.SpellBook"}}</a>
        <a class="item" data-tab="prayer">{{localize "RSK.Prayers"}}</a>
        <a class="item" data-tab="summoning">{{localize "RSK.Familiars"}}</a>
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
      </nav>
      <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="skills">
          <div class="skill-header">
            <button name="improve-your-character" disabled>Improve Your Character</button>
            <div class="current-level-label">
              <strong>Current Level: {{system.lifePoints.max}}</strong>
            </div>
          </div>
          <div class="rsk skill-container">
            {{#each skills as |skill|}}
            <div class="form-group">
              <span class="roll-check" data-type="skill" data-value="{{skill.index}}">
                <i class="fas fa-dice"></i>
                <strong>{{skill.label}}</strong>
                {{skill.value}} {{#if skill.modifier}} (+{{skill.modifier}}){{/if}}
              </span>
              <input type="checkbox" data-dtype="Boolean" name="system.skills.{{skill.index}}.used"
                value="{{skill.used}}" {{checked skill.used}}>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="tab features" data-group="primary" data-tab="prayer">
          <ol class="items-list">
            {{#each prayers as |prayer|}}
            <li class="item flexrow">
              <div class="item-name">
                <strong>{{prayer.label}}</strong>
              </div>
              <div class="item-content">{{prayer.usageCostLabel}}</div>
              <div class="item-content">{{prayer.effectDescription}}</div>
              <a class="item-control chat-item" data-item-type="prayer" data-item-id="{{prayer.id}}"
                title="Chat Item">{{localize "RSK.ChatItem"}}</a>
              <a class="item-control use-action" data-action-type="prayer" data-action-id="{{prayer.id}}"
                title="Use Item">{{localize "RSK.UseAction"}}</a>
            </li>
            {{/each}}
          </ol>
        </div>

        <div class="tab features" data-group="primary" data-tab="magic">
          <ol class="items-list">
            {{#each spells as |spell|}}
            <li class="item flexrow">
              <div class="item-name">
                <strong>{{spell.label}}</strong>
              </div>
              <div class="item-content">
                {{spell.usageCostLabel}}
              </div>
              <div class="item-content">
                {{spell.description}}
              </div>
              <a class="item-control chat-item" data-item-type="spell" data-item-id="{{spell.id}}"
                title="Chat Item">{{localize "RSK.ChatItem"}}</a>
              <a class="item-control use-action" data-action-type="spell" data-action-id="{{spell.id}}"
                title="Use Item">{{localize "RSK.UseAction"}}</a>
            </li>
            {{/each}}
          </ol>
        </div>
        {{!-- todo: probably time for a template to use for actions --}}
        <div class="tab features" data-group="primary" data-tab="summoning">
          <ol class="items-list">
            {{#each familiars as |familiar|}}
            <li class="item flexrow">
              <div class="item-name">
                <strong>{{familiar.label}}</strong>
              </div>
              <div class="item-content">
                {{familiar.usageCostLabel}}
              </div>
              <div class="item-content">
                {{familiar.description}}
              </div>
              <a class="item-control chat-item" data-item-type="summonFamiliar" data-item-id="{{familiar.id}}"
                title="Chat Item">{{localize "RSK.ChatItem"}}</a>
              <a class="item-control use-action" data-action-type="summonFamiliar" data-action-id="{{familiar.id}}"
                title="Chat Item">{{localize "RSK.UseAction"}}</a>
            </li>
            {{/each}}
          </ol>
        </div>

        <div class="tab features" data-group="primary" data-tab="inventory">
          <div><strong>Inventory</strong> ({{usedSlots}} / 28)</div>
          {{> "/systems/rsk/templates/actors/parts/view-items.hbs" items=inventoryItems }}

          <strong>Active Slots</strong>
          <div>
            <label>{{localize "RSK.Head"}}</label>
            <div>{{worn.head}}</div>
            <label>{{localize "RSK.Body"}}</label>
            <div>{{worn.body}}</div>
            <label>{{localize "RSK.Leg"}}</label>
            <div>{{worn.leg}}</div>
            <label>{{localize "RSK.Arm"}}</label>
            <div>{{worn.arm}}</div>
            <label>{{localize "RSK.Weapon"}}</label>
            <div>{{worn.weapon}}</div>
            <label>{{localize "RSK.Cape"}}</label>
            <div>{{worn.cape}}</div>
          </div>
        </div>

        <div class="tab features" data-group="primary" data-tab="description">
          <div class="form-group">
            <label>{{localize "RSK.Catalyst"}}</label>
            <div>{{system.catalyst}}</div>
            <label>{{localize "RSK.Motivation"}}</label>
            <div>{{system.motivation}}</div>
          </div>
          <label>{{localize "RSK.Backgrounds"}}</label>
          {{> "/systems/rsk/templates/actors/parts/view-items.hbs" items=backgrounds }}
        </div>

        <div class="tab features" data-group="primary" data-tab="edit">
          <div>
            <label>{{localize "RSK.Description"}}</label>
            {{editor system.description target="system.description" button=false engine="prosemirror"}}
          </div>
          <label>{{localize "RSK.Backgrounds"}}</label>
          {{> "/systems/rsk/templates/actors/parts/edit-items.hbs"
          items=backgrounds
          addType="background"
          addLabel="Add Background"}}
          <button class="apply-backgrounds">{{localize "RSK.ApplyBackgrounds"}}</button>

          <div class="form-group">
            {{#each abilities as |ability|}}
            <span data-type="ability" data-value="{{ability.index}}">
              <strong>{{ability.label}}</strong>
              <input name="system.abilities.{{ability.index}}" type="number" data-dtype="Number"
                value="{{ability.value}}">
            </span>
            {{/each}}
          </div>
          <div class="rsk skill-container">
            {{#each skills as |skill|}}
            <div class="form-group">
              <span data-type="skill" data-value="{{skill.index}}">
                <strong>{{skill.label}}</strong>
                <input name="system.skills.{{skill.index}}.level" type="number" data-dtype="Number"
                  value="{{skill.value}}">
              </span>
            </div>
            {{/each}}
          </div>
          <hr />

          <strong>Effects</strong>
          {{> "/systems/rsk/templates/parts/edit-effects.hbs"}}

        </div>
      </section>

    </div>
  </div>
</form>