<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    <div>
      <label>{{localize "RSK.Lifepoints"}}</label>
      <div type="number">{{system.stats.lifepoints}}</div>
      <label>{{localize "RSK.Strength"}}</label>
      <div type="number">{{system.stats.strength}}</div>
      <label>{{localize "RSK.Agility"}}</label>
      <div type="number">{{system.stats.agility}}</div>
      <label>{{localize "RSK.Intellect"}}</label>
      <div type="number">{{system.stats.intellect}}</div>
      <label>{{localize "RSK.Summoningpoints"}}</label>
      <div type="number">{{system.stats.summoningpoints}}</div>
      <label>{{localize "RSK.Prayerpoints"}}</label>
      <div type="number">{{system.stats.prayerpoints}}</div>
      <label>{{localize "RSK.Prayerpoints"}}</label>
      <div>{{system.skills.prayerpoints}}</div>
      <label>{{localize "RSK.Archaelogy"}}</label>
      <div>{{system.skills.archaelogy}}</div>
      <label>{{localize "RSK.Attack"}}</label>
      <div>{{system.skills.attack}}</div>
      <label>{{localize "RSK.Cooking"}}</label>
      <div>{{system.skills.cooking}}</div>
      <label>{{localize "RSK.Crafting"}}</label>
      <div>{{system.skills.crafting}}</div>
      <label>{{localize "RSK.Defence"}}</label>
      <div>{{system.skills.defence}}</div>
      <label>{{localize "RSK.Dungeoneering"}}</label>
      <div>{{system.skills.dungeoneering}}</div>
      <label>{{localize "RSK.Farming"}}</label>
      <div>{{system.skills.farming}}</div>
      <label>{{localize "RSK.Fishing"}}</label>
      <div>{{system.skills.fishing}}</div>
      <label>{{localize "RSK.Fletching"}}</label>
      <div>{{system.skills.fletching}}</div>
      <label>{{localize "RSK.Herblore"}}</label>
      <div>{{system.skills.herblore}}</div>
      <label>{{localize "RSK.Hunter"}}</label>
      <div>{{system.skills.hunter}}</div>
      <label>{{localize "RSK.Magic"}}</label>
      <div>{{system.skills.magic}}</div>
      <label>{{localize "RSK.Mining"}}</label>
      <div>{{system.skills.mining}}</div>
      <label>{{localize "RSK.Prayer"}}</label>
      <div>{{system.skills.prayer}}</div>
      <label>{{localize "RSK.Ranged"}}</label>
      <div>{{system.skills.ranged}}</div>
      <label>{{localize "RSK.Runecrafting"}}</label>
      <div>{{system.skills.runecrafting}}</div>
      <label>{{localize "RSK.Slayer"}}</label>
      <div>{{system.skills.slayer}}</div>
      <label>{{localize "RSK.Smithing"}}</label>
      <div>{{system.skills.smithing}}</div>
      <label>{{localize "RSK.Summoning"}}</label>
      <div>{{system.skills.summoning}}</div>
      <label>{{localize "RSK.Thieving"}}</label>
      <div>{{system.skills.thieving}}</div>
      <label>{{localize "RSK.Woodcutting"}}</label>
      <div>{{system.skills.woodcutting}}</div>
      <label>{{localize "RSK.Headarmour"}}</label>
      <div>{{system.worn.headarmour}}</div>
      <label>{{localize "RSK.Bodyarmour"}}</label>
      <div>{{system.worn.bodyarmour}}</div>
      <label>{{localize "RSK.Legarmour"}}</label>
      <div>{{system.worn.legarmour}}</div>
      <label>{{localize "RSK.Armarmour"}}</label>
      <div>{{system.worn.armarmour}}</div>
      <label>{{localize "RSK.Weapon"}}</label>
      <div>{{system.worn.weapon}}</div>
      <label>{{localize "RSK.Cape"}}</label>
      <div>{{system.worn.cape}}</div>
      <label>{{localize "RSK.Catalyst"}}</label>
      <div>{{system.catalyst}}</div>
      <label>{{localize "RSK.Motivation"}}</label>
      <div>{{system.motivation}}</div>
      <label>{{localize "RSK.Backgrounds"}}</label>
      <div>{{system.backgrounds}}</div>
    </div>

</form>