<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
  </header>
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
    <a class="item" data-tab="skills">{{localize "RSK.Skills"}}</a>
    <a class="item" data-tab="inventory">{{localize "RSK.Inventory"}}</a>
    <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
  </nav>
  <section class="sheet-body">
    <div class="form-group">
      <button class="roll-dice"><i class="fas fa-dice"></i>
        {{localize "RSK.Roll"}}</button>
    </div>
    <div class="form-group">
      <div>
        <strong>{{localize "RSK.Lifepoints"}}: </strong>
        {{system.lifepoints}}
      </div>
      <div>
        <strong>{{localize "RSK.Prayerpoints"}}: </strong>
        {{system.prayerpoints}}
      </div>
      <div>
        <strong>{{localize "RSK.Summoningpoints"}}</strong>
        <div>{{system.summoningpoints}}</div>
      </div>
    </div>
    <div class="tab features" data-group="primary" data-tab="description">
      <label>{{localize "RSK.Backgrounds"}}</label>
      <div>{{system.backgrounds}}</div>
      <label>{{localize "RSK.Catalyst"}}</label>
      <div>{{system.catalyst}}</div>
      <label>{{localize "RSK.Motivation"}}</label>
      <div>{{system.motivation}}</div>
    </div>

    <div class="tab features" data-group="primary" data-tab="skills">
      <div class="form-group">
        <div>
          <strong>{{localize "RSK.Strength"}}</strong>
          <div>{{system.abilities.strength}}</div>
        </div>
        <div>
          <strong>{{localize "RSK.Agility"}}</strong>
          <div>{{system.abilities.agility}}</div>
        </div>
        <div>
          <strong>{{localize "RSK.Intellect"}}</strong>
          <div>{{system.abilities.intellect}}</div>
        </div>
      </div>
      <div>
        {{!-- todo: how would we localize with this approach? --}}
        {{#each system.skills as |skill skillName|}}
        <div class="form-group">
          <strong>{{skillName}}</strong>
          <div>{{skill.level}}</div>
          <input type="checkbox" data-dtype="Boolean" name="system.skills.{{skillName}}.used" value="{{skill.used}}"
            {{checked skill.used}}>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="tab features" data-group="primary" data-tab="inventory">
      <div>
        <label>{{localize "RSK.Headarmour"}}</label>
        <div>{{system.worn.headarmour}}</div>
        <label>{{localize "RSK.Bodyarmour"}}</label>
        <div>{{system.worn.bodyarmour}}</div>
        <label>{{localize "RSK.Legarmour"}}</label>
        <div>{{system.worn.legarmour}}</div>
        <label>{{localize "RSK.Armarmour"}}</label>
        <div>{{system.worn.armarmour}}</div>
        <label>{{localize "RSK.Weapon"}}</label>
        <div>{{system.worn.weapon}}</div>
        <label>{{localize "RSK.Cape"}}</label>
        <div>{{system.worn.cape}}</div>
      </div>
      {{#each system.backpack.inventoryslots as |slot key|}}
      <span>.</span>
      {{/each}}
    </div>

    <div class="tab features" data-group="primary" data-tab="edit">

    </div>
  </section>
</form>