<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{actor.name}}" placeholder="Name"></h1>
    </header>
    <div class="sheet-container">
        <div class="sidebar">
            <div class="rsk stats-abilities">
                <div class="rsk stats">
                    <div class="stats-toolbar">
                        <div class="actor-application" application-method="characterDamage" effect-label="Take Damage"
                            glow-color="red"><i class="fas fa-sword"></i></div>
                    </div>
                </div>
                <div class="stats-group">
                    <div class="stats-box">
                        <div class="stats-label">{{localize "RSK.Lifepoints"}}</div>
                        <div class="stats-values">
                            <input class="stats-value-left" data-stat="Life" type="number"
                                name="system.lifePoints.value" value="{{system.lifePoints.value}}">
                            <div class="stats-value-right">{{system.lifePoints.max}}</div>
                        </div>
                    </div>
                    <div class="stats-box">
                        <div class="stats-label">{{localize "RSK.ArmourValue"}}</div>
                        <div class="stats-values">
                            <input class="stats-value-left" data-stat="Life" type="number" name="system.armourValue"
                                value="{{system.armourValue}}">
                        </div>
                    </div>
                    <div class="stats-box">
                        <strong>{{localize "RSK.Size"}}: </strong>
                        <select name="system.size">
                            {{selectOptions config.sizes selected=system.size localize=true}}
                        </select>
                    </div>
                    <div class="stats-box">
                        <div class="stats-label">{{localize "RSK.Movement"}}</div>
                        <div class="stats-values">
                            <input class="stats-value-left" data-stat="Movement" type="number" name="system.movement"
                                value="{{system.movement}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
                <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
            </nav>
            <section class="sheet-body">
                <div class="tab features" data-group="primary" data-tab="description">
                    <div>
                        <h3>{{localize "RSK.Description"}}</h3>
                        {{editor system.description target="system.description" editable=false engine="prosemirror"}}
                    </div>
                    <hr />
                    <div>
                        <strong>{{localize "RSK.Actions"}}: </strong>
                        {{> "/systems/rsk/templates/actors/parts/view-items.hbs"
                        items=actions }}
                    </div>
                    <div>
                        <strong>{{localize "RSK.Specials"}}: </strong>
                        {{> "/systems/rsk/templates/actors/parts/view-items.hbs" items=specialFeatures }}
                    </div>
                </div>

                <div class="tab features" data-group="primary" data-tab="edit">
                    <div>
                        <label>{{localize "RSK.Description"}}</label>
                        {{editor system.description target="system.description" button=false engine="prosemirror"}}
                    </div>

                    <div class="form-group">
                        <label>{{localize "RSK.LifePoints"}}</label>
                        <input name="system.lifePoints.max" type="number" value="{{system.lifePoints.max}}">
                    </div>

                    <label>{{localize "RSK.Actions"}}</label>
                    {{> "/systems/rsk/templates/actors/parts/edit-items.hbs"
                    items=actions
                    addType="action"
                    addLabel="Add Action"}}

                    <label>{{localize "RSK.Specials"}}</label>
                    {{> "/systems/rsk/templates/actors/parts/edit-items.hbs"
                    items=specialFeatures
                    addType="specialFeature"
                    addLabel="Add Special"}}
                </div>
            </section>
        </div>
    </div>
</form>