<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body" data-can-drop="true">
        <div class="tab features" data-group="primary" data-tab="description">
            isAmmo
            <input type="checkbox" data-dtype="Boolean" name="system.isAmmo" value="{{system.isAmmo}}" {{checked
                system.isAmmo}}>

            type
            <input type="text" data-dtype="text" name="system.type" value="{{system.type}}">

            material
            <input type="text" data-dtype="text" name="system.material" value="{{system.material}}">

            effectDescription
            <input type="text" data-dtype="text" name="system.effectDescription" value="{{system.effectDescription}}">

            qualities
            damageEntries
        </div>
        <div class="tab features" data-group="primary" data-tab="edit">

        </div>
    </section>
</form>