<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body" data-can-drop="true">
        <div class="tab features" data-group="primary" data-tab="description">
            <div>
                <strong>{{localize "RSK.Cost"}}: </strong>
                {{system.cost}} {{localize "RSK.GP"}}
            </div>
            <div>
                <strong>{{localize "RSK.AmmunitionType"}}:</strong>
                {{system.type}}
            </div>

            <div>
                <strong>{{localize "RSK.Description"}}:</strong>
                {{system.description}}
            </div>

            <div>
                <strong>{{localize "RSK.EffectDescription"}}:</strong>
                {{system.effectDescription}}
            </div>

            <div>
                <strong>{{localize "RSK.Material"}}:</strong>
                {{system.material}}
            </div>

            {{#if system.qualities}}
            <div>
                <strong>{{localize "RSK.Qualities"}}:</strong>
                {{system.qualities}}
            </div>
            {{/if}}
            {{#if system.effects}}
            <div>
                <strong>{{localize "RSK.Effects"}}:</strong>
                {{> "/systems/rsk/templates/parts/view-effects.hbs"}}
            </div>
            {{/if}}
        </div>
        <div class="tab features" data-group="primary" data-tab="edit">
            <div>
                <strong>{{localize "RSK.AmmunitionType"}}: </strong>
                <select name="system.type">
                    {{selectOptions config.ammunitionType selected=system.type localize=true}}
                </select>
            </div>

            <div>
                <strong>{{localize "RSK.Cost"}}: </strong>
                <input type="number" data-dtype="number" name="system.cost" value="{{system.cost}}">
            </div>

            <strong>{{localize "RSK.Description"}}:</strong>
            <input type="text" data-dtype="text" name="system.description" value="{{system.description}}">

            <strong>{{localize "RSK.EffectDescription"}}:</strong>
            <input type="text" data-dtype="text" name="system.effectDescription" value="{{system.effectDescription}}">

            <div>
                <strong>{{localize "RSK.Material"}}:</strong>
                <select name="system.material">
                    {{selectOptions config.ammunitionMaterialType selected=system.material localize=true}}
                </select>
            </div>

            <strong>{{localize "RSK.Qualities"}}:</strong>
            <input type="text" data-dtype="text" name="system.qualities" value="{{system.qualities}}">

            <strong>{{localize "RSK.Effects"}}:</strong>
            {{> "/systems/rsk/templates/parts/edit-effects.hbs"}}
        </div>
    </section>
</form>