<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body" data-can-drop="true">
        <div class="tab features" data-group="primary" data-tab="description">
            <h3>{{localize "RSK.Description"}}</h3>
            <p>{{system.description}}</p>
            <p>{{system.effectDescription}}</p>
            <p><strong>{{localize "RSK.Cost"}}:</strong> {{system.cost}} gp</p>
            <p><strong>{{localize "RSK.ActiveSlot"}}:</strong> {{system.activeSlot}}</p>
            <h3>{{localize "RSK.Values"}}</h3>
            <p><strong>{{localize "RSK.Material"}}:</strong> {{system.values.material}}</p>
            <p><strong>{{localize "RSK.Soak"}}:</strong> {{system.values.soak}}</p>
            <div>
                <strong>{{localize "RSK.Qualities"}}:</strong>
                <div>{{system.qualities}}</div>
            </div>

            <div>
                <strong>{{localize "RSK.Upgrades"}}:</strong>
                <div>{{system.upgrades}}</div>
            </div>

            <div>
                <strong>{{localize "RSK.Effects"}}:</strong>
                {{> "/systems/rsk/templates/parts/view-effects.hbs"}}
            </div>

        </div>
        <div class="tab features" data-group="primary" data-tab="edit">
            <label>{{localize "RSK.Description"}}:</label>
            <input type="text" name="system.description" value="{{system.description}}">

            <label>{{localize "RSK.Cost"}}:</label>
            <input type="number" name="system.cost" value="{{system.cost}}">

            <div class="form-group">
                <label>{{localize "RSK.ActiveSlot"}}:</label>
                <select name="system.activeSlot">
                    {{selectOptions config.armourActiveSlotType selected=system.activeSlot localize=true}}
                </select>
            </div>
            <div>
                <strong>{{localize "RSK.Upgrades"}}:</strong>
                <input type="text" name="system.upgrades" value="{{system.upgrades}}">
            </div>
            <div class="form-group">
                <label>{{localize "RSK.Material"}}</label>
                <select name="system.values.material">
                    {{selectOptions config.armourMaterials selected=system.values.material localize=true}}
                </select>
            </div>
            <div>
                <label>{{localize "RSK.Soak"}}:</label>
                <input type="number" name="system.values.soak" value="{{system.values.soak}}">
            </div>

            <strong>{{localize "RSK.MaxStackSize"}}: </strong>
            <input type="number" data-dtype="number" name="system.maxStackSize" value="{{system.maxStackSize}}">

            <strong>{{localize "RSK.Qualities"}}:</strong>
            <input type="text" name="system.qualities" value="{{system.qualities}}">

            <strong>{{localize "RSK.Effects"}}:</strong>
            {{> "/systems/rsk/templates/parts/edit-effects.hbs"}}

        </div>
    </section>
</form>