<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet-container">
        <div class="sidebar">
            <img style="max-height: 150px; object-fit:contain;" src="{{item.img}}" data-edit="img"
                title="{{item.name}}" />
            <div class="rsk stats">
                <div class="stats-group">
                    <div class="stats-box">
                        <div class="stats-label">{{localize "RSK.Cost"}}</div>
                        <div class="stats-values">
                            <div class="stats-value-center">{{system.cost}} {{localize "RSK.GP"}}</div>
                        </div>
                    </div>
                    <div class="stats-box">
                        <div class="stats-label">{{localize "RSK.ArmourValue"}}</div>
                        <div class="stats-values">
                            {{localize "RSK.Soak"}}
                            <div class="stats-value-center">{{system.soakValue}}</div>
                            {{localize "RSK.Material"}}
                            <div class="stats-value-center">{{system.material}}</div>
                        </div>
                    </div>
                    <div class="stats-box">
                        <div class="stats-label">{{localize "RSK.ActiveSlot"}}</div>
                        <div class="stats-values">
                            {{!-- todo: localize --}}
                            <div class="stats-value-center">{{system.activeSlot}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <header class="sheet-header">
                <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
            </header>
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description" data-tooltip='{{localize "RSK.Details"}}'>
                    <i class="fas fa-id-card"></i>
                </a>
                <a class="item" data-tab="edit" data-tooltip='{{localize "RSK.Edit"}}'>
                    <i class="fas fa-pen-to-square"></i>
                </a>
            </nav>
            <section class="sheet-body" data-can-drop="true">
                <div class="tab features" data-group="primary" data-tab="description">
                    <h3>{{localize "RSK.Description"}}</h3>
                    <p>{{system.description}}</p>
                    <p>{{system.effectDescription}}</p>

                    {{#if showAwardedFor}}
                    <div>
                        <label>{{localize "RSK.AwardedFor"}}:</label>
                        <input type="text" name="system.awardedFor" value="{{system.awardedFor}}">
                    </div>
                    {{/if}}

                    {{!-- readonly sepcial effects --}}
                    {{!-- <div>
                        <label>{{localize "RSK.SpecialEffects"}}:</label>
                        <div>{{system.specialEffects}}</div>
                    </div> --}}
                    <div>
                        <label>{{localize "RSK.Effects"}}:</label>
                        {{> "/systems/rsk/templates/parts/view-effects.hbs"}}
                    </div>
                    {{#if system.upgrades}}
                    <div>
                        <label>{{localize "RSK.Upgrades"}}:</label>
                        <div>{{system.upgrades}}</div>
                    </div>
                    {{/if}}

                </div>
                <div class="tab features" data-group="primary" data-tab="edit">
                    <label>{{localize "RSK.Description"}}:</label>
                    <input type="text" name="system.description" value="{{system.description}}">

                    <label>{{localize "RSK.Cost"}}:</label>
                    <input type="number" name="system.cost" value="{{system.cost}}">

                    <div class="form-group">
                        <label>{{localize "RSK.ActiveSlot"}}:</label>
                        <select name="system.activeSlot">
                            {{selectOptions config.armourActiveSlotType.values selected=system.activeSlot
                            localize=true}}
                        </select>
                    </div>
                    <div>
                        <strong>{{localize "RSK.Upgrades"}}:</strong>
                        <input type="text" name="system.upgrades" value="{{system.upgrades}}">
                    </div>
                    <div class="form-group">
                        <label>{{localize "RSK.Material"}}</label>
                        <select name="system.material">
                            {{selectOptions config.armourMaterials selected=system.material localize=true}}
                        </select>
                    </div>
                    <div>
                        <label>{{localize "RSK.Soak"}}:</label>
                        <input type="number" name="system.soakValue" value="{{system.soakValue}}">
                    </div>

                    <strong>{{localize "RSK.MaxStackSize"}}: </strong>
                    <input type="number" data-dtype="number" name="system.maxStackSize" value="{{system.maxStackSize}}">

                    <label>{{localize "RSK.Bulk"}} {{#if system.bulk.modifier}} (+{{system.bulk.modifier}}) {{/if}} <input type="number" name="system.bulk.value"
                        value="{{system.bulk.value}}"></label>
                    <div>
                        <label>{{localize "RSK.SpecialEffect"}}:</label>
                        <div>
                            <ol class="items-list">
                                {{#each system.specialEffect as |spfx|}}
                                <li class="item flexrow" data-name="{{spfx.name}}">
                                    {{spfx.name}} {{spfx.x}} {{spfx.y}}
                                    <div class=" item-controls">
                                        <a class="item-control remove-special-effect" title="Delete Special Effect"><i
                                                class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                            <div class="form-group">
                                <label>{{localize "RSK.Name"}}
                                    <select id="new-special-effect-name">
                                        {{selectOptions config.armourSpecialEffects localize=true}}
                                    </select>
                                </label>
                                <label>{{localize "RSK.X"}}</label>
                                <input id="new-special-effect-x" type="text">

                                <label>{{localize "RSK.Y"}}</label>
                                <input id="new-special-effect-y" type="text">
                                <a class="item-control add-special-effect" title="add special effect">
                                    <i class="fas fa-plus"></i> {{localize "Add Special Effect"}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>{{localize "RSK.Effects"}}</label>
                        {{> "/systems/rsk/templates/parts/edit-effects.hbs"}}
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>