<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body" data-can-drop="true">
        <div class="tab features" data-group="primary" data-tab="description">
            <h3>{{localize "RSK.Description"}}</h3>
            <p>{{system.description}}</p>
            <p><strong>{{localize "RSK.ArmourType"}}:</strong> {{system.armourType}}</p>
            <p><strong>{{localize "RSK.Cost"}}:</strong> {{system.cost}}</p>

            <h3>{{localize "RSK.Values"}}</h3>
            <p><strong>{{localize "RSK.Soak"}}:</strong> {{system.values.soak}}</p>
            <p><strong>{{localize "RSK.Material"}}:</strong> {{system.values.material}}</p>
            <div>
                <strong>{{localize "RSK.Qualities"}}:</strong>
                {{#each system.values.qualities as |quality|}}
                <p>
                    <strong>{{quality.name}}</strong> {{quality.description}}
                </p>
                {{/each}}
            </div>

        </div>
        <div class="tab features" data-group="primary" data-tab="edit">
            <label>{{localize "RSK.Description"}}:</label>
            <input type="text" name="system.description" value="{{system.description}}">

            <label>{{localize "RSK.ArmourType"}}:</label>
            <div class="form-group">
                <label>{{localize "RSK.Material"}}</label>
                <select name="system.armourType">
                    {{selectOptions config.armourTypes selected=system.armourType}}
                </select>
            </div>

            <label>{{localize "RSK.Cost"}}:</label>
            <input type="number" name="system.cost" value="{{system.cost}}">

            <label>{{localize "RSK.Soak"}}:</label>
            <input type="number" name="system.values.soak" value="{{system.values.soak}}">

            <div class="form-group">
                <label>{{localize "RSK.Material"}}</label>
                <select name="system.values.material">
                    {{selectOptions config.materials selected=system.values.material}}
                </select>
            </div>
            
            <ol class="items-list">
                {{#each system.values.qualities as |quality|}}
                <li class="quality item flexrow" data-quality-id="{{quality.sourceUuId}}">
                    <div class="item-name flexrow">
                        <h4>{{quality.name}}</h4>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-delete quality-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </section>
</form>