<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            <div>
                <h3>{{localize "RSK.Description"}}:</h3>
                <p>
                    {{system.description}}
                </p>
            </div>

            <div>
                <h3>{{localize "RSK.AwardedFor"}}:</h3>
                <p>
                    {{system.awardedFor}}
                </p>
            </div>

            <strong>{{localize "SpecialEffectsEffects"}}</strong>
            <p>
                {{system.specialEffects}}
            </p>
            <strong>{{localize "RSK.Effects"}}:</strong>
            {{> "/systems/rsk/templates/parts/view-effects.hbs"}}
        </div>

        <div class="tab features" data-group="primary" data-tab="edit">
            <label>{{localize "RSK.Description"}}</label>
            <input name="system.description" type="text" value="{{system.description}}">

            <label>{{localize "RSK.AwardedFor"}}</label>
            <input name="system.awardedFor" type="text" value="{{system.awardedFor}}">

            <label>{{localize "SpecialEffectsEffects"}}</label>
            <input name="system.specialEffects" type="text" value="{{system.specialEffects}}">

            <strong>{{localize "RSK.Effects"}}:</strong>
            {{> "/systems/rsk/templates/parts/edit-effects.hbs"}}
        </div>
    </section>
</form>