<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            <div>
                <h3>{{localize "RSK.AwardedFor"}}:</h3>
                <p>
                    {{system.awardedFor}}
                </p>
            </div>
        </div>

        <div class="tab features" data-group="primary" data-tab="edit">
            <label>{{localize "RSK.AwardedFor"}}</label>
            <input name="system.awardedFor" type="text" value="{{system.awardedFor}}">
        </div>
    </section>

    {{!--
    todo: sheet functionality to input the values for the effects described
    these will be numerical values that augment you skills/damage when equipped
    these values will need to be categorized by 'stat' /'damage type' and if they 'increase' or 'decrease' these values
    --}}
</form>