<form class="{{cssClass}}" autocomplete="off" data-can-drop="true">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" style="height: 128px; width: 128px" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="actions">{{localize "RSK.Actions"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            <div style="display: flex;">
                <div class="w-50">
                    <label>{{localize "RSK.Category"}}:
                        <select name="system.category">
                            {{selectOptions config.castableCategories selected=system.category localize=true}}
                        </select>
                    </label>
                </div>
                <div class="w-50">
                    <label>{{localize "RSK.SpellType"}}:
                        <select name="system.subCategory">
                            {{selectOptions config.spellTypes selected=system.subCategory localize=true}}
                        </select>
                    </label>
                </div>
            </div>
            <div>
                <label>{{localize "RSK.Description"}}: <input type="text" name="system.description"
                        value="{{system.description}}"></label>
            </div>
            <div>
                <label>{{localize "RSK.EffectDescription"}}: <input type="text" name="system.effectDescription"
                        value="{{system.effectDescription}}"></label>
            </div>
            {{!-- todo: usage cost labels --}}
        </div>
        <div class="tab features" data-group="primary" data-tab="actions">
            <div>
                <div class="form-group">
                    <label>{{localize "RSK.Range"}}
                        <select name="system.range">
                            {{selectOptions config.ranges selected=system.range localize=true}}
                        </select>
                    </label>
                </div>
            </div>
            <div>
                <label>{{localize "RSK.SpecialEffect"}}:</label>
                <div>
                    <ol class="items-list">
                        {{#each system.specialEffect as |spfx|}}
                        <li class="item flexrow" data-name="{{spfx.name}}">
                            {{spfx.name}} {{spfx.x}} {{spfx.y}}
                            <div class=" item-controls">
                                <a class="item-control remove-special-effect" title="Delete Special Effect"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                    <div class="form-group">
                        <label>{{localize "RSK.Name"}}
                            <select id="new-special-effect-name">
                                {{selectOptions config.weaponSpecialEffects localize=true}}
                            </select>
                        </label>
                        <label>{{localize "RSK.X"}}</label>
                        <input id="new-special-effect-x" type="text">

                        <label>{{localize "RSK.Y"}}</label>
                        <input id="new-special-effect-y" type="text">
                        <a class="item-control add-special-effect" title="add special effect">
                            <i class="fas fa-plus"></i> {{localize "Add Special Effect"}}
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <label>{{localize "RSK.Effects"}}</label>
                {{> "/systems/rsk/templates/parts/edit-effects.hbs"}}
            </div>
            <div>
                <strong>Target Outcomes</strong>
                {{> "/systems/rsk/templates/items/parts/outcome.hbs" outcome=system.targetOutcome
                outcomeName="targetOutcome"}}
            </div>
            <div>
                <strong>Usage Outcomes</strong>
                <div class="form-group">
                    <label>Usage Cost</label>
                    {{usageCost}}
                    <ol class="items-list">
                        {{#each system.usageCost as |cost|}}
                        <li class="item flexrow" data-type="{{cost.type}}">
                            {{cost.type}}
                            {{cost.amount}}
                            <div class=" item-controls">
                                <a class="item-control remove-usage-cost" title="Delete cost"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                    <label>{{localize "RSK.Resource"}}
                        <select id="type">
                            {{selectOptions config.castableUsageCosts localize=true}}
                        </select>
                    </label>
                    <label>{{localize "RSK.Amount"}}
                        <input id="amount" type="number">
                    </label>
                    <a class="item-control add-usage-cost" title="add cost">
                        <i class="fas fa-plus"></i> {{localize "RSK.Add"}}
                    </a>
                </div>
                {{> "/systems/rsk/templates/items/parts/outcome.hbs" outcome=system.usageOutcome
                outcomeName="usageOutcome"}}
            </div>
        </div>
    </section>
</form>