<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            <div>
                <strong>{{localize "RSK.EffectDescription"}}:</strong>
                <p>
                    {{system.effectDescription}}
                </p>
            </div>
            <div>
                <strong>{{localize "RSK.Cost"}}:</strong>
                <p>
                    {{system.cost}}
                </p>
            </div>
            {{!-- this should be explained in the description, not sure if we really want
            to display them like this outside of an editing context. --}}
            <div>
                <strong>{{localize "RSK.RestoresLifPoints"}}:</strong>
                <p>
                    {{system.lifePointsRestored}}
                </p>
            </div>
            <div>
                <strong>{{localize "RSK.RemovesStatuses"}}:</strong>
                <p>
                    {{system.statusesRemoved}}
                </p>
            </div>
            <div>
                <strong>{{localize "RSK.AddsStatuses"}}:</strong>
                <p>
                    {{system.statusesAdded}}
                </p>
            </div>
        </div>
        <div class="tab features" data-group="primary" data-tab="edit">
            <div class="form-group">
                <label>{{localize "RSK.EffectDescription"}}:</label>
                <input type="text" name="system.effectDescription" value="{{system.effectDescription}}">
            </div>
            <div>
                <strong>{{localize "RSK.RestoresLifePoints"}}:</strong>
                <input type="number" data-dType="Number" name="system.lifePointsRestored"
                    value="{{system.lifePointsRestored}}">
                </p>
            </div>
            {{!-- I feel like the to add and remove could be done a lot better --}}
            <div class="form-group">
                <label>{{localize "RSK.StatusesToRemove"}}:</label>
                <ol class="items-list">
                    {{#each statusesToRemove as |toRemove|}}
                    <li class="item flexrow" data-status-id="{{toRemove}}">
                        {{localize toRemove}}
                        <div class=" item-controls">
                            <a class="item-control remove-status-to-remove" title="Remove Status">
                                <i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <select id="status-to-remove">
                    {{selectOptions statusEffects localize=true}}
                </select>
                <a class="item-control add-status-to-remove" title="add Status">
                    <i class="fas fa-plus"></i> {{localize "RSK.AddStatusToRemove"}}
                </a>
            </div>
            <div class="form-group">
                <label>{{localize "RSK.StatusesToAdd"}}:</label>
                <ol class="items-list">
                    {{#each statusesToAdd as |toAdd|}}
                    <li class="item flexrow" data-status-id="{{toAdd}}">
                        {{localize toAdd}}
                        <div class=" item-controls">
                            <a class="item-control remove-status-to-add" title="Remove Status">
                                <i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <select id="status-to-add">
                    {{selectOptions statusEffects localize=true}}
                </select>
                <a class="item-control add-status-to-add" title="add Status">
                    <i class="fas fa-plus"></i> {{localize "RSK.AddStatusToAdd"}}
                </a>
            </div>
            <strong>{{localize "RSK.Effects"}}</strong>
            {{> "/systems/rsk/templates/parts/edit-effects.hbs"}}
    </section>
</form>