<form class="{{cssClass}}" autocomplete="off" data-can-drop="true">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" style="height: 128px; width: 128px" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="actions">{{localize "RSK.Actions"}}</a>
        <a class="item" data-tab="crafting">{{localize "RSK.Crafting"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            <div style="display: flex;">
                <label>{{localize "RSK.Category"}}:
                    <select name="system.category">
                        {{selectOptions config.consumableCategories selected=system.category localize=true}}
                    </select>
                </label>
            </div>
            <div style="display: flex;">
                <label>{{localize "RSK.Cost"}}: <input type="number" name="system.cost" value="{{system.cost}}"></label>
            </div>
            <div>
                <label>{{localize "RSK.Description"}}: <input type="text" name="system.description"
                        value="{{system.description}}"></label>
            </div>
            <div>
                <label>{{localize "RSK.Uses"}}: <input type="text" name="system.uses" value="{{system.uses}}"></label>
            </div>
            <div>
                <label>{{localize "RSK.EffectDescription"}}: <input type="text" name="system.effectDescription"
                        value="{{system.effectDescription}}"></label>
            </div>
            <div style="display: flex;">
                <label>{{localize "RSK.Bulk"}} <input type="number" name="system.bulk.value"
                        value="{{system.bulk.value}}"></label>
                <div>
                    <label>{{localize "RSK.Quantity"}}: <input type="number" name="system.quantity"
                            value="{{system.quantity}}"></label>
                </div>
                <div>
                    <label>{{localize "RSK.MaxStackSize"}}: <input type="number" name="system.maxStackSize"
                            value="{{system.maxStackSize}}"></label>
                </div>
            </div>
        </div>
        <div class="tab features" data-group="primary" data-tab="actions">
            <div>
                <label>{{localize "RSK.Effects"}}</label>
                {{> "/systems/rsk/templates/parts/edit-effects.hbs"}}
            </div>
            <div>
                <strong>Target Outcomes</strong>
                {{> "/systems/rsk/templates/items/parts/outcome.hbs" outcome=system.targetOutcome
                outcomeName="targetOutcome"}}
            </div>
            <div>
                <strong>Usage Outcomes</strong>
                {{> "/systems/rsk/templates/items/parts/outcome.hbs" outcome=system.usageOutcome
                outcomeName="usageOutcome"}}
            </div>
        </div>

        <div class="tab features" data-group="primary" data-tab="crafting">
            <label>{{localize "RSK.Location"}}: <input type="text" name="system.location"
                    value="{{system.location}}"></label>
            <label>{{localize "RSK.Required Materials"}}: <input type="text" name="system.requiredMaterials"
                    value="{{system.requiredMaterials}}"></label>
            <label>{{localize "RSK.EquipmentNeeded"}}: <input type="text" name="system.equipmentNeeded"
                    value="{{system.equipmentNeeded}}"></label>
            <div>
                <label>{{localize "RSK.TargetNumberModifier"}}: <input type="number" name="system.targetNumberModifier"
                        value="{{system.targetNumberModifier}}"></label>
            </div>
        </div>
    </section>
</form>