<form class="{{cssClass}}" autocomplete="off" data-can-drop="true">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            {{#if system.description}}
            <h3>{{localize "RSK.Description"}}</h3>
            <p>{{system.description}}</p>
            {{/if}}

            {{#if system.uses}}
            <p><strong>{{localize "RSK.Uses"}}: </strong> {{system.uses}}</p>
            {{/if}}

            {{#if system.cost}}
            <p><strong>{{localize "RSK.Cost"}}:</strong> {{system.cost}}</p>
            {{/if}}

            {{#if system.effectDescription}}
            <strong>{{localize "RSK.Effects"}}:</strong>
            <p> {{system.effectDescription}}</p>
            {{/if}}
            <strong>{{localize "RSK.Qualities"}}:</strong>
            {{> "/systems/rsk/templates/items/parts/view-qualities.hbs"}}

            {{> "/systems/rsk/templates/items/parts/view-damage-entries.hbs"}}
            {{> "/systems/rsk/templates/items/parts/view-range.hbs"}}
        </div>

        <div class="tab features" data-group="primary" data-tab="edit">
            <label>{{localize "RSK.Description"}}:</label>
            <input type="text" name="system.description" value="{{system.description}}">

            <label>{{localize "RSK.Uses"}}:</label>
            <input type="text" name="system.uses" value="{{system.uses}}">

            <div>
                <label>{{localize "RSK.Effect"}}</label>
                <input type="text" name="system.effectDescription" value="{{system.effectDescription}}">
            </div>

            <div>
                <label>{{localize "RSK.Slot"}}</label>
                <input type="text" name="system.equipped.slot" value="{{system.equipped.slot}}">
            </div>
            <strong>{{localize "RSK.Qualities"}}:</strong>
            {{> "/systems/rsk/templates/items/parts/edit-qualities.hbs"}}
            {{> "/systems/rsk/templates/items/parts/edit-range.hbs"}}
            {{> "/systems/rsk/templates/items/parts/edit-damage-entries.hbs"}}
            <strong>Effects (temp)</strong>
            {{> "/systems/rsk/templates/parts/edit-effects.hbs"}}
        </div>
    </section>
</form>