{{!-- todo: a base item may show all fields
but before that, maybe we want to change how 'equippable' is identified
and use 'activeSlot' has a value as determining that.
then base items could model equippables, and we could work towards usables too...
not sure we really need to do that though --}}
<form class="{{cssClass}}" autocomplete="off" data-can-drop="true">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" style="height: 128px; width: 128px" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    {{#if showRuneTemplate}}
    {{> "/systems/rsk/templates/items/parts/rune-nav.hbs"}}
    {{> "/systems/rsk/templates/items/parts/rune.hbs"}}
    {{else if showMaterialTemplate}}
    {{> "/systems/rsk/templates/items/parts/material-nav.hbs"}}
    {{> "/systems/rsk/templates/items/parts/material.hbs"}}
    {{else if showResourceTemplate}}
    {{> "/systems/rsk/templates/items/parts/resource-nav.hbs"}}
    {{> "/systems/rsk/templates/items/parts/resource.hbs"}}
    {{else if showEquipmentTemplate}}
    {{> "/systems/rsk/templates/items/parts/equipment-nav.hbs"}}
    {{> "/systems/rsk/templates/items/parts/equipment.hbs"}}
    {{else}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="crafting">{{localize "RSK.Crafting"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            <div style="display: flex;">
                <div class="w-50">
                    <label>{{localize "RSK.Category"}}:
                        <select name="system.category">
                            {{selectOptions config.itemCategories selected=system.category localize=true}}
                        </select>
                    </label>
                </div>
                <div class="w-50">
                    <label>{{localize "RSK.SubCategory"}}:
                        <select name="system.subCategory">
                            {{selectOptions config.itemSubCategories selected=system.subCategory localize=true}}
                        </select>
                    </label>
                </div>
            </div>
            <div>
                <label>{{localize "RSK.Description"}}: <input type="text" name="system.description"
                        value="{{system.description}}"></label>
            </div>
            <div>
                <label>{{localize "RSK.Uses"}}: <input type="text" name="system.uses" value="{{system.uses}}"></label>
            </div>
            <div style="display: flex;">
                <div class="w-50">
                    <label>{{localize "RSK.Cost"}}: <input type="number" name="system.cost"
                            value="{{system.cost}}"></label>
                </div>
                <div class="w-50">
                    <label>{{localize "RSK.Material"}}: <select name="system.material">
                            {{selectOptions config.itemMaterial selected=system.material localize=true}}
                        </select>
                    </label>
                </div>
            </div>
            <div style="display: flex;">
                <label>{{localize "RSK.Bulk"}} <input type="number" name="system.bulk.value"
                        value="{{system.bulk.value}}"></label>
                <div>
                    <label>{{localize "RSK.Quantity"}}: <input type="number" name="system.quantity"
                            value="{{system.quantity}}"></label>
                </div>
                <div>
                    <label>{{localize "RSK.MaxStackSize"}}: <input type="number" name="system.maxStackSize"
                            value="{{system.maxStackSize}}"></label>
                </div>
            </div>
        </div>
        <div class="tab features" data-group="primary" data-tab="crafting">
            <label>{{localize "RSK.Location"}}: <input type="text" name="system.location"
                    value="{{system.location}}"></label>
            <label>{{localize "RSK.Required Materials"}}: <input type="text" name="system.requiredMaterials"
                    value="{{system.requiredMaterials}}"></label>
            <label>{{localize "RSK.EquipmentNeeded"}}: <input type="text" name="system.equipmentNeeded"
                    value="{{system.equipmentNeeded}}"></label>
            <div>
                <label>{{localize "RSK.TargetNumberModifier"}}: <input type="number" name="system.targetNumberModifier"
                        value="{{system.targetNumberModifier}}"></label>
            </div>
            <div>
                <label>{{localize "RSK.Upgrades"}}:</label>
                <div>{{system.upgrades}}</div>
            </div>
        </div>
    </section>
    {{/if}}
</form>