{{!-- todo: finish converting to generic sheet --}}
<form class="{{cssClass}}" autocomplete="off" data-can-drop="true">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="crafting">{{localize "RSK.Crafting"}}</a>
        <a class="item" data-tab="actions">{{localize "RSK.Actions"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            <div style="display: flex;">
                <div class="w-50">
                    <strong>{{localize "RSK.Category"}}</strong>
                    {{system.category}}
                </div>
                <div class="w-50">
                    <strong>{{localize "RSK.SubCategory"}}</strong>
                    {{system.subCategory}}
                </div>
            </div>
            <div>
                <strong>{{localize "RSK.Description"}}</strong>
                {{system.description}}
            </div>
            <div style="display: flex;">
                <div class="w-50">
                    <strong>{{localize "RSK.Cost"}}</strong>
                    {{system.cost}}
                </div>
                <div class="w-50">
                    <strong>{{localize "RSK.Material"}}</strong>
                    {{system.material}}
                </div>
            </div>
            <div>
                <strong>{{localize "RSK.Uses"}}</strong>
                {{system.uses}}
            </div>
            <div>
                <strong>{{localize "RSK.EffectDescription"}}</strong>
                {{system.effectDescription}}
            </div>
            <div>
                <strong>{{localize "RSK.Location"}}</strong>
                {{system.location}}
            </div>

            <div>
                <strong>{{localize "RSK.AwardedFor"}}</strong>
                {{system.awardedFor}}
            </div>

            <div>
                <strong>{{localize "RSK.TargetNumberModifier"}}</strong>
                {{system.targetNumberModifier}}
            </div>

            <div style="display: flex;">
                <div class="w-50">
                    <strong>{{localize "RSK.Quantity"}}</strong>
                    {{system.quantity}}
                </div>
                <div class="w-50">
                    <strong>{{localize "RSK.MaxStackSize"}}</strong>
                    {{system.maxStackSize}}
                </div>
            </div>
        </div>

        <div class="tab features" data-group="primary" data-tab="edit">
            <h3>Item Details</h3>
            <label>Name: <input type="text" name="item.name" value="{{item.name}}"></label>
            <label>category: <input type="text" name="system.category" value="{{system.category}}"></label>
            <label>subCategory: <input type="text" name="system.subCategory" value="{{system.subCategory}}"></label>
            <label>Description: <input type="text" name="system.description" value="{{system.description}}"></label>
            <label>Awarded For: <input type="text" name="system.awardedFor" value="{{system.awardedFor}}"></label>
            <label>Location: <input type="text" name="system.location" value="{{system.location}}"></label>
            <label>Material: <input type="text" name="system.material" value="{{system.material}}"></label>
            <label>Cost: <input type="number" name="system.cost" value="{{system.cost}}"></label>
            <label>Uses: <input type="text" name="system.uses" value="{{system.uses}}"></label>
            <label>Soak Value: <input type="number" name="system.soakValue" value="{{system.soakValue}}"></label>
            <label>Effect Description: <input type="text" name="system.effectDescription"
                    value="{{system.effectDescription}}"></label>
            <label>Equipment Needed: <input type="text" name="system.equipmentNeeded"
                    value="{{system.equipmentNeeded}}"></label>
            <label>Target Number Modifier: <input type="number" name="system.targetNumberModifier"
                    value="{{system.targetNumberModifier}}"></label>
            <label>Max Stack Size: <input type="number" name="system.maxStackSize"
                    value="{{system.maxStackSize}}"></label>
            <label>Quantity: <input type="number" name="system.quantity" value="{{system.quantity}}"></label>
            <label>Bulk: <input type="number" name="system.bulk.value" value="{{system.bulk.value}}"></label>
            {{> "/systems/rsk/templates/items/parts/outcome.hbs" group="usage"
            changes=system.usageOutcomes}}
            {{> "/systems/rsk/templates/items/parts/outcome.hbs" group="target"
            changes=system.targetOutcomes}}

            {{!-- todo: --}}
            <strong>Required Materials</strong>
            <strong>Equipment Needed</strong>
            <strong>Qualities</strong>
            <strong>Effects</strong>
            <strong>Usage Cost</strong>
            <strong>Targets</strong>
        </div>
    </section>
</form>