<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            <div>
                <p>
                    {{system.type}}
                </p>
                <p>
                    {{system.tier}}
                </p>
                <h3>{{localize "RSK.Description"}}:</h3>
                <p>
                    {{system.description}}
                </p>
                <strong>{{localize "RSK.Uses"}}:</strong>
                <p>{{system.uses}}</p>
            </div>
            <div>
                <h3>{{localize "RSK.Cost"}}:</h3>
                <p>
                    {{system.cost}} {{localize "RSK.GP"}}
                </p>
            </div>
        </div>

        <div class="tab features" data-group="primary" data-tab="edit">
            {{!-- editable? --}}
            <label>{{localize "RSK.Type"}}</label>
            <select name="system.type">
                {{selectOptions config.materialType selected=system.type localize=true}}
            </select>
            <label>{{localize "RSK.Tier"}}</label>
            <select name="system.tier">
                {{selectOptions config.materialTier selected=system.tier localize=true}}
            </select>
            <label>{{localize "RSK.Description"}}</label>
            <input name="system.description" type="text" value="{{system.description}}">
            <label>{{localize "RSK.Uses"}}</label>
            <input name="system.uses" type="text" value="{{system.uses}}">
            <label>{{localize "RSK.Cost"}}</label>
            <input name="system.cost" type="text" value="{{system.cost}}">
            <label>{{localize "RSK.MaxStackSize"}}</label>
            <input name="system.maxStackSize" type="number" value="{{system.maxStackSize}}">
        </div>
    </section>
</form>