<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>

    <label for="rsk-resource-uses">Uses</label>
    <input id="rsk-resource-uses" type="text" value="{{system.uses}}">

    <label for="rsk-resource-effects">Effects</label>
    <input id="rsk-resource-effects" type="text" value="{{system.effects}}">

    <label for="rsk-resource-cost">Cost</label>
    <input id="rsk-resource-cost" type="number" value="{{system.cost}}">

    <h3>debug</h3>
    <p>item</p>
    {{log item}}

    <p>system</p>
    {{log system}}
</form>