<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            <div>{{localize "RSK.Description"}}</div>
            <div>{{localize "RSK.Type"}}</div>
            <div>{{localize "RSK.Cost"}}</div>

            {{> "/systems/rsk-system/templates/items/parts/view-damage-entries.hbs"}}

            <div>{{localize "RSK.Range"}}</div>
            <div>{{localize "RSK.Effect"}}</div>
        </div>

        <div class="tab features" data-group="primary" data-tab="edit">
            <div>{{localize "RSK.Description"}}</div>
            <div>{{localize "RSK.Type"}}</div>
            <div>{{localize "RSK.Cost"}}</div>
            <div>{{localize "RSK.Range"}}</div>

            {{> "/systems/rsk-system/templates/items/parts/edit-damage-entries.hbs"}}

            <div>{{localize "RSK.Effect"}}</div>
        </div>
    </section>
</form>