<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            <h3>{{localize "RSK.Description"}}</h3>
            <p>{{system.description}}</p>
            <div><strong>{{localize "RSK.SpellType"}}:</strong> {{system.spellType}}</div>
            {{> "/systems/rsk/templates/items/parts/view-range.hbs"}}

            {{!-- <div><strong>{{localize "RSK.Cost"}}:</strong>
                {{#each spellCost as |sc|}}
                {{#if sc.cost}}
                <span>{{sc.cost}} {{sc.type}}</span>
                {{/if}}
                {{/each}}
            </div> --}}

            <h3>{{localize "RSK.Effect"}}:</h3>
            <p>{{system.effectDescription}}</p>
            {{> "/systems/rsk/templates/items/parts/view-damage-entries.hbs"}}
        </div>

        <div class="tab features" data-group="primary" data-tab="edit">
            <h3>{{localize "RSK.Description"}}</h3>
            <input type="text" name="system.description" value="{{system.description}}">

            <div class="form-group">
                <label>{{localize "RSK.SpellType"}}</label>
                <select name="system.spellType">
                    {{selectOptions config.spellTypes selected=system.spellType}}
                </select>
            </div>
            {{> "/systems/rsk/templates/items/parts/edit-range.hbs"}}

            <div>
                <label>{{localize "RSK.Effect"}}</label>
                <input type="text" name="system.effectDescription" value="{{system.effectDescription}}">
            </div>

            {{!-- <h3>{{localize "RSK.Cost"}}</h3>
            {{#each spellCost as |sc|}}
            <div class="form-group">
                <label>{{sc.type}}</label>
                <input type="number" name="system.cost.{{sc.index}}" value="{{sc.cost}}">
            </div>
            {{/each}} --}}

            {{> "/systems/rsk/templates/items/parts/edit-damage-entries.hbs"}}
        </div>
    </section>
</form>