{{!-- todo: hide ammo fields when not ammo --}}
{{!-- todo: hide melee fields when not melee --}}
{{!-- todo: hide ranged fields when not ranged --}}
{{!-- todo: material options change when it is ammo, melee, ranged weapon.
ie. bows can be wood, swords metal, etc. --}}
{{!-- probably could be done better in logic in the sheet in getData --}}
{{!-- need to not show qualities when ranged, etc. --}}

{{!--
//todo: config values for localization like others
attackTypes: set of ["melee", "ranged", "magic", "thrown", "ammo"]
)),
weaponType: [...Object.keys(CONFIG.RSK.weaponTypes)]
}),
material:[...Object.keys(CONFIG.RSK.weaponMaterials)]
}),
ammoType: ["", ...Object.keys(CONFIG.RSK.ammunitionType)]
description: new fields.StringField(),
range: [...Object.keys(CONFIG.RSK.ranges)]
cost: new fields.NumberField({ ...costField }),
damageEntries: {}
specialEffects: string
activeSlot: ["weapon", "arm"]
}),
isEquipped: bool,
maxStackSize: number
quantity: number
--}}

<form class="{{cssClass}}" autocomplete="off" data-can-drop="true">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "RSK.Details"}}</a>
        <a class="item" data-tab="edit">{{localize "RSK.Edit"}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            <div>
                {{!-- todo render list in a csv? --}}
                <strong>{{localize "RSK.AttackTypes"}}</strong>
                {{system.attackTypes}}
            </div>
            <div>
                <strong>{{localize "RSK.WeaponType"}}</strong>
                {{system.weaponType}}
            </div>
            <div>
                <strong>{{localize "RSK.Material"}}</strong>
                {{system.material}}
            </div>
            <div>
                <strong>{{localize "RSK.AmmoType"}}</strong>
                {{system.ammoType}}
            </div>
            <div>
                <strong>{{localize "RSK.Description"}}</strong>
                {{system.description}}
            </div>
            <div>
                <strong>{{localize "RSK.Range"}}</strong>
                {{system.range}}
            </div>
            <div>
                <strong>{{localize "RSK.Cost"}}</strong>
                {{system.cost}}
            </div>
            <div>
                <strong>{{localize "RSK.DamageEntries"}}</strong>
                {{system.damageEntries}}
            </div>
            <div>
                <strong>{{localize "RSK.SpecialEffects"}}</strong>
                {{system.specialEffects}}
            </div>
            <div>
                <strong>{{localize "RSK.ActiveSlot"}}</strong>
                {{system.activeSlot}}
            </div>
            <div>
                <strong>{{localize "RSK.MaxStackSize"}}</strong>
                {{system.maxStackSize}}
            </div>
            <div>
                <strong>{{localize "RSK.Quantity"}}</strong>
                {{system.quantity}}
            </div>
        </div>

        <div class="tab features" data-group="primary" data-tab="edit">
            <div>
                {{!-- todo: attackTypes input --}}
                <strong>{{localize "RSK.AttackTypes"}}</strong>
                {{system.attackTypes}}
            </div>
            <div>
                <strong>{{localize "RSK.WeaponType"}}</strong>
                <select name="system.weaponType">
                    {{selectOptions config.weaponTypes selected=system.weaponType localize=true}}
                </select>
            </div>
            <div>
                {{!-- todo these options will be dynamic
                depending on if its ammo type, or weapon type for available material options
                but maybe not? darts... f in darts man --}}
                <strong>{{localize "RSK.Material"}}</strong>
                <select name="system.material">
                    {{selectOptions config.weaponMaterials selected=system.material localize=true}}
                </select>
            </div>
            <div>
                <strong>{{localize "RSK.AmmoType"}}</strong>
                <select name="system.ammoType">
                    {{selectOptions config.ammunitionType selected=system.ammoType localize=true}}
                </select>
            </div>
            <div>
                <strong>{{localize "RSK.Description"}}</strong>
                <input type="text" name="system.description" value="{{system.description}}">
            </div>
            <div>
                <strong>{{localize "RSK.Cost"}}</strong>
                <input type="number" name="system.cost" value="{{system.cost}}">
            </div>
            <div>
                {{> "/systems/rsk/templates/items/parts/edit-range.hbs"}}
            </div>
            <div>
                {{> "/systems/rsk/templates/items/parts/edit-damage-entries.hbs"}}
            </div>
            <div>
                <strong>{{localize "RSK.SpecialEffects"}}</strong>
                <input type="text" name="system.specialEffects" value="{{system.specialEffects}}">
            </div>
            <div>
                <strong>{{localize "RSK.ActiveSlot"}}</strong>
                <select name="system.activeSlot">
                    {{selectOptions config.weaponActiveSlotType selected=system.activeSlot localize=true}}
                </select>
            </div>
            <div>
                <strong>{{localize "RSK.MaxStackSize"}}</strong>
                <input type="number" name="system.maxStackSize" value="{{system.maxStackSize}}">
            </div>
            <div>
                <strong>{{localize "RSK.Quantity"}}</strong>
                <input type="number" name="system.quantity" value="{{system.quantity}}">
            </div>
        </div>
    </section>
</form>