<div class="rsk stats-abilities">
    <div class="rsk stats">
        <div class="stats-group">
            <div class="stats-box">
                <div class="stats-label">{{localize "RSK.Lifepoints"}}</div>
                <div class="stats-values">
                    <input class="stats-value-left" data-stat="Life" type="number" name="system.lifePoints.value"
                        value="{{system.lifePoints.value}}">
                    <div class="stats-value-right">{{system.lifePoints.max}}</div>
                </div>
            </div>
            <div class="stats-box">
                <div class="stats-label">{{localize "RSK.Prayerpoints"}}</div>
                <div class="stats-values">
                    <input class="stats-value-left" data-stat="Prayer" type="number" name="system.prayerPoints.value"
                        value="{{system.prayerPoints.value}}">
                    <div class="stats-value-right">{{system.prayerPoints.max}}</div>
                </div>
            </div>
            <div class="stats-box">
                <div class="stats-label">{{localize "RSK.Summoningpoints"}}</div>
                <div class="stats-values">
                    <input class="stats-value-left" data-stat="Summoning" type="number"
                        name="system.summoningPoints.value" value="{{system.summoningPoints.value}}">
                    <div class="stats-value-right">{{system.summoningPoints.max}}</div>
                </div>
            </div>
            <div class="stats-box">
                <div class="stats-label">{{localize "RSK.ArmourValue"}}</div>
                <div class="stats-values">
                    <div class="stats-value-right">{{armourValue}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="rsk abilities">
        <div class="stats-group">
            {{#each abilities as |ability|}}
            <div class="stats-box">
                <span class="roll-check" data-type="ability" data-value="{{ability.index}}">
                    <div class="stats-label"><i class="fas fa-dice"></i> {{ability.label}}</div>
                    <div class="stats-values">
                        <div class="stats-value-center">
                            {{ability.value.level}} {{#if ability.value.modifier}}
                            (+{{ability.value.modifier}}){{/if}}
                        </div>
                    </div>
                </span>
            </div>
            {{/each}}
        </div>
    </div>
</div>