<div class="main-content">
    <header class="sheet-header">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        </h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description" data-tooltip='{{localize "RSK.Details"}}'>
            <i class="fas fa-id-card"></i>
        </a>
        <a class="item" data-tab="edit" data-tooltip='{{localize "RSK.Edit"}}'>
            <i class="fas fa-pen-to-square"></i>
        </a>
    </nav>
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="description">
            <div class="description-editor">
                <h3>{{localize "RSK.Description"}}</h3>
                {{editor system.description target="system.description" button=true engine="prosemirror"}}
            </div>
            <hr />
            <div>
                <strong>{{localize "RSK.Actions"}}: </strong>
                <ol class="items-list">
                    {{#each actions as |action|}}
                    <li class="item flexrow" data-item-id="{{action._id}}">
                        <div class="item-name flexrow">
                            <div>
                                <strong>{{action.name}}</strong>
                            </div>
                            {{#if action.system.description}}
                            <div class="item-content">
                                {{action.system.description}}
                            </div>
                            {{/if}}
                        </div>
                        <a class="item-control use-action" data-item-id="{{action._id}}" title="Use Action">{{localize
                            "RSK.UseAction"}}</a>
                        <a class="item-control chat-item" data-item-type="{{action.type}}" data-item-id="{{action._id}}"
                            title="Chat Item">{{localize "RSK.ChatItem"}}</a>
                        <a class="item-control item-delete" title="Remove Item">{{localize
                            "RSK.RemoveItem"}}</a>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div>
                <strong>{{localize "RSK.Specials"}}: </strong>
                {{> "/systems/rsk/templates/actors/parts/view-items.hbs" items=specialFeatures }}
            </div>
            <div>
                <div>
                    <strong>{{localize "RSK.Resistance"}}: </strong>
                    {{#each system.resistance as |res type|}}
                    {{!-- todo: how to localize? --}}
                    {{#if res}}
                    <span>{{res}} ({{type}}) </span>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="tab features" data-group="primary" data-tab="edit">
            <div class="form-group">
                <label>{{localize "RSK.LifePoints"}}</label>
                <input name="system.lifePoints.max" type="number" value="{{system.lifePoints.max}}">
            </div>

            <label>{{localize "RSK.Actions"}}</label>
            {{> "/systems/rsk/templates/actors/parts/edit-items.hbs"
            items=actions
            addType="npcAction"
            addLabel="Add Action"}}

            <label>{{localize "RSK.Specials"}}</label>
            {{> "/systems/rsk/templates/actors/parts/edit-items.hbs"
            items=specialFeatures
            addType="specialFeature"
            addLabel="Add Special"}}

            <label>{{localize "RSK.Resistance"}}</label>
            {{#each system.resistance as |res type|}}
            <div class="form-group">
                {{!-- todo: localize --}}
                <label>{{type}}</label>
                <input type="number" name="system.resistance.{{type}}" value="{{res}}">
            </div>
            {{/each}}

            {{!-- todo: probably should be a 'part' --}}
            <strong>Action Collections</strong>
            {{#each codexs as |codex|}}
            <div class="form-group">
                {{codex.name}}
                <a data-item-id="{{codex._id}}" class="item-control remove-codex" title="Remove Codex">{{localize
                    "RSK.RemoveItem"}}</a>
            </div>
            {{/each}}
        </div>
    </section>
</div>