<ol class="items-list">
    {{#each items as |item|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name flexrow">
            <div>
                <strong>{{item.name}}</strong>
                {{#if item.system.quantity}}
                (
                <a class="item-control decrease-item-quantity" data-item-id="{{item.id}}">-</a>
                <em>qty: {{item.system.quantity}}</em>
                <a class="item-control increase-item-quantity" data-item-id="{{item.id}}">+</a>
                )
                {{/if}}
            </div>
        </div>
        {{#if item.system.description}}
        <div class="item-content">
            {{item.system.description}}
        </div>
        {{/if}}
        {{#if item.system.activeSlot}}
        <a class="item-control item-equip" title="Equip Item">{{localize "RSK.EquipItem"}}</a>
        {{/if}}
        {{!-- todo reduce quantity, don't remove all --}}
        <a class="item-control chat-item" data-item-type="{{item.type}}" data-item-id="{{item._id}}"
            title="Chat Item">{{localize "RSK.ChatItem"}}</a>
        <a class="item-control item-delete" title="Remove Item">{{localize "RSK.RemoveItem"}}</a>
    </li>
    {{/each}}
</ol>