<header>
    <h3 class="item-name">{{localize "RSK.Inventory"}} ({{usedSlots}} / 28)</h3>
    <div class="item-quantity">Qty.</div>
    <div class="item-controls">
        <a data-action="browse-equipment" data-tooltip="Search Inventory"><i class="fa-solid fa-fw fa-search"></i></a>
    </div>
</header>
{{!-- todo: clean this up --}}
<ul class="items-list">
    {{#each consumables as |consumable|}}
    <li class="item" data-item-id="{{consumable._id}}">
        <div class="item-name">
            <img src="{{consumable.img}}" data-tooltip="{{consumable.name}}">
            <h4><a data-action="toggle-summary" data-toggle="{{consumable._id}}">{{consumable.name}}</a></h4>
        </div>
        <div class="item-quantity">
            {{#if consumable.system.quantity}}
            <a class="item-control decrease-item-quantity" data-item-id="{{consumable.id}}">-</a>
            <span>{{consumable.system.quantity}}</span>
            <a class="item-control increase-item-quantity" data-item-id="{{consumable.id}}">+</a>
            {{/if}}
        </div>
        <div class="item-controls">
            <a class="item-control item-consume" data-tooltip="{{localize " RSK.ConsumeItem"}}"><i
                    class="fas fa-meat"></i></a>
            <a class="item-control chat-item" data-item-type="{{consumable.type}}" data-item-id="{{consumable._id}}"
                data-tooltip="{{localize " RSK.ChatItem"}}">
                <i class="fas fa-message"></i>
            </a>
            <a class="item-control item-delete" data-tooltip="{{localize " RSK.RemoveItem"}}"><i
                    class="fas fa-trash"></i></a>
        </div>
        <div class="item-summary" hidden="hidden" data-toggle-target="{{consumable._id}}"
            data-toggle-target="{{consumable._id}}">
            {{#if consumable.system.description}}
            <div class="item-content">
                {{consumable.system.description}}
            </div>
            {{/if}}
        </div>
    </li>
    {{/each}}

    {{#each equippables as |equippable|}}
    <li class="item" data-item-id="{{equippable._id}}">
        <div class="item-name">
            <img src="{{equippable.img}}" data-tooltip="{{equippable.name}}">
            <h4><a data-action="toggle-summary" data-toggle="{{equippable._id}}">{{equippable.name}}</a></h4>
        </div>
        <div class="item-quantity">
            {{#if equippable.system.quantity}}
            <a class="item-control decrease-item-quantity" data-item-id="{{equippable.id}}">-</a>
            <span>{{equippable.system.quantity}}</span>
            <a class="item-control increase-item-quantity" data-item-id="{{equippable.id}}">+</a>
            {{/if}}
        </div>
        <div class="item-controls">
            <a class="item-control item-equip" data-tooltip="{{localize " RSK.EquipItem"}}"><i
                    class="fas fa-shirt"></i></a>
            <a class="item-control chat-item" data-item-type="{{equippable.type}}" data-item-id="{{equippable._id}}"
                data-tooltip="{{localize " RSK.ChatItem"}}">
                <i class="fas fa-message"></i>
            </a>
            <a class="item-control item-delete" data-tooltip="{{localize " RSK.RemoveItem"}}"><i
                    class="fas fa-trash"></i></a>
        </div>
        <div class="item-summary" hidden="hidden" data-toggle-target="{{equippable._id}}">
            {{#if equippable.system.description}}
            <div class="item-content">
                {{equippable.system.description}}
            </div>
            {{/if}}
        </div>
    </li>
    {{/each}}

    {{#each miscItems as |item|}}
    <li class="item" data-item-id="{{item._id}}">
        <div class="item-name">
            <img src="{{item.img}}" data-tooltip="{{item.name}}">
            <h4><a data-action="toggle-summary" data-toggle="{{item._id}}">{{item.name}}</a></h4>
        </div>
        <div class="item-quantity">
            {{#if item.system.quantity}}
            <a class="item-control decrease-item-quantity" data-item-id="{{item.id}}">-</a>
            <span>{{item.system.quantity}}</span>
            <a class="item-control increase-item-quantity" data-item-id="{{item.id}}">+</a>
            {{/if}}
        </div>
        <div class="item-controls">
            <a class="item-control chat-item" data-item-type="{{item.type}}" data-item-id="{{item._id}}"
                data-tooltip="{{localize " RSK.ChatItem"}}">
                <i class="fas fa-message"></i>
            </a>
            <a class="item-control item-delete" data-tooltip="{{localize " RSK.RemoveItem"}}"><i
                    class="fas fa-trash"></i></a>
        </div>
        <div class="item-summary" hidden="hidden" data-toggle-target="{{item._id}}">
            {{#if item.system.description}}
            <div class="item-content">
                {{item.system.description}}
            </div>
            {{/if}}
        </div>
    </li>
    {{/each}}
</ul>